@import './flex.scss';
@import './spacing.scss';

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-error {
    color: var(--text-highlight);
}

.card {
    background: var(--box-shadow-bg);
    box-shadow: var(--box-shadow-primary);
    border: 1px solid var(--box-shadow-border);
    border-radius: 1rem;
}

.float__right {
    float: right;
}

.float__left {
    float: left;
}

.mod__width--100 {
    width: 100%;
}

.mod__width--75 {
    width: 75%;
}

.mod__width--50 {
    width: 50%;
}

.mod__width--25 {
    width: 25%;
}

.mod__align--vert-center {
    align-items: center;
}

.mod__display--block {
    display: block;
}

.mod__display--inline {
    display: inline;
}

.mod__display--inline-block {
    display: inline-block;
}

.mod__overflow--hidden {
    overflow: hidden;
}

.mod__overflow--auto {
    overflow: auto;
}

.mod__text-align--c {
    text-align: center;
}

.mod__text-align--l {
    text-align: left;
}

.mod__text-align--r {
    text-align: right;
}

.mod__font-weight--900 {
    font-weight: 900;
}

.mod__font-weight--800 {
    font-weight: 800;
}

.mod__font-weight--700 {
    font-weight: 700;
}

.mod__font-weight--600 {
    font-weight: 600;
}

.mod__font-weight--500 {
    font-weight: 500;
}

.mod__font-weight--400 {
    font-weight: 400;
}

.mod__font-weight--300 {
    font-weight: 300;
}

.mod__font-weight--200 {
    font-weight: 200;
}

.mod__font-weight--100 {
    font-weight: 100;
}

.mod-spacing-pah {
    padding: 64px;
}

.mod-spacing-pab {
    padding: 32px;
}

.mod-spacing-pam {
    padding: 16px;
}

.mod-spacing-pas {
    padding: 8px;
}

.mod-spacing-plh {
    padding-left: 64px;
}

.mod-spacing-plb {
    padding-left: 32px;
}

.mod-spacing-plm {
    padding-left: 16px;
}

.mod-spacing-pls {
    padding-left: 8px;
}

.mod-spacing-prh {
    padding-right: 64px;
}

.mod-spacing-prb {
    padding-right: 32px;
}

.mod-spacing-prm {
    padding-right: 16px;
}

.mod-spacing-prs {
    padding-right: 8px;
}

.mod-spacing-pth {
    padding-top: 64px;
}

.mod-spacing-ptb {
    padding-top: 32px;
}

.mod-spacing-ptm {
    padding-top: 16px;
}

.mod-spacing-pts {
    padding-top: 8px;
}

.mod-spacing-pbh {
    padding-bottom: 64px;
}

.mod-spacing-pbb {
    padding-bottom: 32px;
}

.mod-spacing-pbm {
    padding-bottom: 16px;
}

.mod-spacing-pbs {
    padding-bottom: 8px;
}


@media only screen and (min-width: $desktop) {
    .float__right-xl {
        float: right;
    }
    
    .float__left-xl {
        float: left;
    }
    
    .mod__width--100-xl {
        width: 100%;
    }
    
    .mod__width--75-xl {
        width: 75%;
    }
    
    .mod__width--50-xl {
        width: 50%;
    }
    
    .mod__width--25-xl {
        width: 25%;
    }

    .mod__overflow--hidden-xl {
        overflow: hidden;
    }

    .mod__overflow--auto-xl {
        overflow: auto;
    }

    .mod__text-align--c-xl {
        text-align: center;
    }
    
    .mod__text-align--l-xl {
        text-align: left;
    }
    
    .mod__text-align--r-xl {
        text-align: right;
    }

    .mod__font-weight--900-xl {
        font-weight: 900;
    }
    
    .mod__font-weight--800-xl {
        font-weight: 800;
    }
    
    .mod__font-weight--700-xl {
        font-weight: 700;
    }
    
    .mod__font-weight--600-xl {
        font-weight: 600;
    }
    
    .mod__font-weight--500-xl {
        font-weight: 500;
    }
    
    .mod__font-weight--400-xl {
        font-weight: 400;
    }
    
    .mod__font-weight--300-xl {
        font-weight: 300;
    }
    
    .mod__font-weight--200-xl {
        font-weight: 200;
    }
    
    .mod__font-weight--100-xl {
        font-weight: 100;
    }

    .mod__display--block-xl {
        display: block;
    }
    
    .mod__display--inline-xl {
        display: inline;
    }
    
    .mod__display--inline-block-xl {
        display: inline-block;
    }
}

@media only screen and (max-width: $desktop) and (min-width: $tablet) {
    .float__right-l {
        float: right;
    }
    
    .float__left-l {
        float: left;
    }

    .mod__width--100-l {
        width: 100%;
    }
    
    .mod__width--75-l {
        width: 75%;
    }
    
    .mod__width--50-l {
        width: 50%;
    }
    
    .mod__width--25-l {
        width: 25%;
    }

    .mod__overflow--hidden-l {
        overflow: hidden;
    }

    .mod__overflow--auto-l {
        overflow: auto;
    }

    .mod__text-align--c-l {
        text-align: center;
    }
    
    .mod__text-align--l-l {
        text-align: left;
    }
    
    .mod__text-align--r-l {
        text-align: right;
    }
    
    .mod__font-weight--900-l {
        font-weight: 900;
    }
    
    .mod__font-weight--800-l {
        font-weight: 800;
    }
    
    .mod__font-weight--700-l {
        font-weight: 700;
    }
    
    .mod__font-weight--600-l {
        font-weight: 600;
    }
    
    .mod__font-weight--500-l {
        font-weight: 500;
    }
    
    .mod__font-weight--400-l {
        font-weight: 400;
    }
    
    .mod__font-weight--300-l {
        font-weight: 300;
    }
    
    .mod__font-weight--200-l {
        font-weight: 200;
    }
    
    .mod__font-weight--100-l {
        font-weight: 100;
    }

    .mod__display--block-l {
        display: block;
    }
    
    .mod__display--inline-l {
        display: inline;
    }
    
    .mod__display--inline-block-l {
        display: inline-block;
    }
}

@media only screen and (max-width: $tablet) and (min-width: $mobile) {
    .float__right-m {
        float: right;
    }
    
    .float__left-m {
        float: left;
    }
    
    .mod__width--100-m {
        width: 100%;
    }
    
    .mod__width--75-m {
        width: 75%;
    }
    
    .mod__width--50-m {
        width: 50%;
    }
    
    .mod__width--25-m {
        width: 25%;
    }

    .mod__overflow--hidden-m {
        overflow: hidden;
    }

    .mod__overflow--auto-m {
        overflow: auto;
    }
    
    .mod__text-align--c-m {
        text-align: center;
    }
    
    .mod__text-align--l-m {
        text-align: left;
    }
    
    .mod__text-align--r-m {
        text-align: right;
    }
    
    .mod__font-weight--900-m {
        font-weight: 900;
    }
    
    .mod__font-weight--800-m {
        font-weight: 800;
    }
    
    .mod__font-weight--700-m {
        font-weight: 700;
    }
    
    .mod__font-weight--600-m {
        font-weight: 600;
    }
    
    .mod__font-weight--500-m {
        font-weight: 500;
    }
    
    .mod__font-weight--400-m {
        font-weight: 400;
    }
    
    .mod__font-weight--300-m {
        font-weight: 300;
    }
    
    .mod__font-weight--200-m {
        font-weight: 200;
    }
    
    .mod__font-weight--100-m {
        font-weight: 100;
    }

    .mod__display--block-m {
        display: block;
    }
    
    .mod__display--inline-m {
        display: inline;
    }
    
    .mod__display--inline-block-m {
        display: inline-block;
    }
}

@media only screen and (max-width: $mobile) and (min-width: $mobile-xs) {
    .float__right-s {
        float: right;
    }
    
    .float__left-s {
        float: left;
    }

    .mod__width--100-s {
        width: 100%;
    }
    
    .mod__width--75-s {
        width: 75%;
    }
    
    .mod__width--50-s {
        width: 50%;
    }
    
    .mod__width--25-s {
        width: 25%;
    }

    .mod__overflow--hidden-s {
        overflow: hidden;
    }

    .mod__overflow--auto-s {
        overflow: auto;
    }

    .mod__text-align--c-s {
        text-align: center;
    }
    
    .mod__text-align--l-s {
        text-align: left;
    }
    
    .mod__text-align--r-s {
        text-align: right;
    }

    .mod__font-weight--900-s {
        font-weight: 900;
    }
    
    .mod__font-weight--800-s {
        font-weight: 800;
    }
    
    .mod__font-weight--700-s {
        font-weight: 700;
    }
    
    .mod__font-weight--600-s {
        font-weight: 600;
    }
    
    .mod__font-weight--500-s {
        font-weight: 500;
    }
    
    .mod__font-weight--400-s {
        font-weight: 400;
    }
    
    .mod__font-weight--300-s {
        font-weight: 300;
    }
    
    .mod__font-weight--200-s {
        font-weight: 200;
    }
    
    .mod__font-weight--100-s {
        font-weight: 100;
    }

    .mod__display--block-s {
        display: block;
    }
    
    .mod__display--inline-s {
        display: inline;
    }
    
    .mod__display--inline-block-s {
        display: inline-block;
    }
}

@media only screen and (max-width: $mobile-xs) {
    .float__right-xs {
        float: right;
    }
    
    .float__left-xs {
        float: left;
    }

    .mod__width--100-xs {
        width: 100%;
    }
    
    .mod__width--75-xs {
        width: 75%;
    }
    
    .mod__width--50-xs {
        width: 50%;
    }
    
    .mod__width--25-xs {
        width: 25%;
    }

    .mod__overflow--hidden-xs {
        overflow: hidden;
    }

    .mod__overflow--auto-xs {
        overflow: auto;
    }

    .mod__text-align--c-xs {
        text-align: center;
    }
    
    .mod__text-align--l-xs {
        text-align: left;
    }
    
    .mod__text-align--r-xs {
        text-align: right;
    }

    .mod__font-weight--900-xs {
        font-weight: 900;
    }
    
    .mod__font-weight--800-xs {
        font-weight: 800;
    }
    
    .mod__font-weight--700-xs {
        font-weight: 700;
    }
    
    .mod__font-weight--600-xs {
        font-weight: 600;
    }
    
    .mod__font-weight--500-xs {
        font-weight: 500;
    }
    
    .mod__font-weight--400-xs {
        font-weight: 400;
    }
    
    .mod__font-weight--300-xs {
        font-weight: 300;
    }
    
    .mod__font-weight--200-xs {
        font-weight: 200;
    }
    
    .mod__font-weight--100-xs {
        font-weight: 100;
    }

    .mod__display--block-xs {
        display: block;
    }
    
    .mod__display--inline-xs {
        display: inline;
    }
    
    .mod__display--inline-block-xs {
        display: inline-block;
    }
}