@import 'variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container--split {
    flex-direction: row;
}

.container__column {
    flex: 0 0 auto;
    max-width: 100%;
}

.container--wrap {
    flex-wrap: wrap;
}

.container__column--flex {
    flex: 1;
}

.container__column--one-tenth {
    flex: 0 0 10%;
    max-width: 10%;
}

.container__column--sixth {
    flex: 0 0 16.666666667%;
    max-width: 16.666666667%;
}

.container__column--fifth {
    flex: 0 0 20%;
    max-width: 20%;
}

.container__column--fourth {
    flex: 0 0 25%;
    max-width: 25%;
}

.container__column--three-tenth {
    flex: 0 0 30%;
    max-width: 30%;
}

.container__column--two-fifth {
    flex: 0 0 40%;
    max-width: 40%;
}

.container__column--nine-twentith {
    flex: 0 0 45%;
    max-width: 45%;
}

.container__column--half {
    flex: 0 0 50%;
    max-width: 50%;
}

.container__column--three-fifth {
    flex: 0 0 60%;
    max-width: 60%;
}

.container__column--seven-tenth {
    flex: 0 0 70%;
    max-width: 70%;
}

.container__column--three-fourths {
    flex: 0 0 75%;
    max-width: 75%;
}

.container__column--four-fifths {
    flex: 0 0 80%;
    max-width: 80%;
}

@media only screen and (min-width: $desktop) {
    .container--wrap-xl {
        flex-wrap: wrap;
    }
    
    .container__column--flex-xl {
        flex: 1;
    }

    .container--split-xl {
        flex-direction: row;
    }
    
    .container__column-xl {
        flex: 0 0 auto;
        max-width: 100%;
	}
	
	.container__column--one-tenth-xl {
		flex: 0 0 10%;
		max-width: 10%;
	}
    
    .container__column--sixth-xl {
        flex: 0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    
    .container__column--fifth-xl {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .container__column--fourth-xl {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .container__column--three-tenth-xl {
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    .container__column--two-fifth-xl {
        flex: 0 0 40%;
        max-width: 40%;
	}

	.container__column--nine-twentith-xl {
		flex: 0 0 45%;
		max-width: 45%;
	}
    
    .container__column--half-xl {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .container__column--three-fifth-xl {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .container__column--seven-tenth-xl {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .container__column--three-fourths-xl {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .container__column--four-fifths-xl {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media only screen and (max-width: $desktop) and (min-width: $tablet) {
    .container--wrap-l {
        flex-wrap: wrap;
    }
    
    .container__column--flex-l {
        flex: 1;
    }

    .container--split-l {
        flex-direction: row;
    }
    
    .container__column-l {
        flex: 0 0 auto;
        max-width: 100%;
    }
	
	.container__column--one-tenth-l {
		flex: 0 0 10%;
		max-width: 10%;
	}
    
    .container__column--sixth-l {
        flex: 0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    
    .container__column--fifth-l {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .container__column--fourth-l {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .container__column--three-tenth-l {
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    .container__column--two-fifth-l {
        flex: 0 0 40%;
        max-width: 40%;
	}
	
	.container__column--nine-twentith-l {
		flex: 0 0 45%;
		max-width: 45%;
	}
    
    .container__column--half-l {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .container__column--three-fifth-l {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .container__column--seven-tenth-l {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .container__column--three-fourths-l {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .container__column--four-fifths-l {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media only screen and (max-width: $tablet) and (min-width: $mobile) {
    .container--wrap-m {
        flex-wrap: wrap;
    }
    
    .container__column--flex-m {
        flex: 1;
    }

    .container--split-m {
        flex-direction: row;
    }
    
    .container__column-m {
        flex: 0 0 auto;
        max-width: 100%;
    }
	
	.container__column--one-tenth-m {
		flex: 0 0 10%;
		max-width: 10%;
	}
    
    .container__column--sixth-m {
        flex: 0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    
    .container__column--fifth-m {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .container__column--fourth-m {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .container__column--three-tenth-m {
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    .container__column--two-fifth-m {
        flex: 0 0 40%;
        max-width: 40%;
    }

	.container__column--nine-twentith-m{
		flex: 0 0 45%;
		max-width: 45%;
	}
    
    .container__column--half-m {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .container__column--three-fifth-m {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .container__column--seven-tenth-m {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .container__column--three-fourths-m {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .container__column--four-fifths-m {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media only screen and (max-width: $mobile) and (min-width: $mobile-xs) {
    .container--wrap-s {
        flex-wrap: wrap;
    }
    
    .container__column--flex-s {
        flex: 1;
    }

    .container--split-s {
        flex-direction: row;
    }
    
    .container__column-s {
        flex: 0 0 auto;
        max-width: 100%;
    }
	
	.container__column--one-tenth-s {
		flex: 0 0 10%;
		max-width: 10%;
	}
    
    .container__column--sixth-s {
        flex: 0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    
    .container__column--fifth-s {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .container__column--fourth-s {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .container__column--three-tenth-s {
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    .container__column--two-fifth-s {
        flex: 0 0 40%;
        max-width: 40%;
    }

	.container__column--nine-twentith-s {
		flex: 0 0 45%;
		max-width: 45%;
	}
    
    .container__column--half-s {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .container__column--three-fifth-s {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .container__column--seven-tenth-s {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .container__column--three-fourths-s {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .container__column--four-fifths-s {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media only screen and (max-width: $mobile-xs) {
    .container--wrap-xs {
        flex-wrap: wrap;
    }
    
    .container__column--flex-xs {
        flex: 1;
    }

    .container--split-xs {
        flex-direction: row;
    }
    
    .container__column-xs {
        flex: 0 0 auto;
        max-width: 100%;
    }
	
	.container__column--one-tenth-xs {
		flex: 0 0 10%;
		max-width: 10%;
	}
    
    .container__column--sixth-xs {
        flex: 0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    
    .container__column--fifth-xs {
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .container__column--fourth-xs {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .container__column--three-tenth-xs {
        flex: 0 0 30%;
        max-width: 30%;
    }
    
    .container__column--two-fifth-xs {
        flex: 0 0 40%;
        max-width: 40%;
    }

	.container__column--nine-twentith-xs {
		flex: 0 0 45%;
		max-width: 45%;
	}
    
    .container__column--half-xs {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .container__column--three-fifth-xs {
        flex: 0 0 60%;
        max-width: 60%;
    }
    
    .container__column--seven-tenth-xs {
        flex: 0 0 70%;
        max-width: 70%;
    }
    
    .container__column--three-fourths-xs {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .container__column--four-fifths-xs {
        flex: 0 0 80%;
        max-width: 80%;
    }
}
