.mod__spacing--pah {
    padding: 64px;
}

.mod__spacing--pab {
    padding: 32px;
}

.mod__spacing--pam {
    padding: 16px;
}

.mod__spacing--pas {
    padding: 8px;
}

.mod__spacing--pvh {
    padding-top: 64px;
    padding-bottom: 64px;
}

.mod__spacing--phh {
    padding-right: 64px;
    padding-left: 64px;
}

.mod__spacing--pvb {
    padding-top: 32px;
    padding-bottom: 32px;
}

.mod__spacing--phb {
    padding-right: 32px;
    padding-left: 32px;
}

.mod__spacing--pvm {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mod__spacing--phm {
    padding-right: 16px;
    padding-left: 16px;
}

.mod__spacing--pvs {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mod__spacing--phs {
    padding-right: 8px;
    padding-left: 8px;
}

.mod__spacing--plh {
    padding-left: 64px;
}

.mod__spacing--plb {
    padding-left: 32px;
}

.mod__spacing--plm {
    padding-left: 16px;
}

.mod__spacing--pls {
    padding-left: 8px;
}

.mod__spacing--prh {
    padding-right: 64px;
}

.mod__spacing--prb {
    padding-right: 32px;
}

.mod__spacing--prm {
    padding-right: 16px;
}

.mod__spacing--prs {
    padding-right: 8px;
}

.mod__spacing--pth {
    padding-top: 64px;
}

.mod__spacing--ptb {
    padding-top: 32px;
}

.mod__spacing--ptm {
    padding-top: 16px;
}

.mod__spacing--pts {
    padding-top: 8px;
}

.mod__spacing--pbh {
    padding-bottom: 64px;
}

.mod__spacing--pbb {
    padding-bottom: 32px;
}

.mod__spacing--pbm {
    padding-bottom: 16px;
}

.mod__spacing--pbs {
    padding-bottom: 8px;
}

.mod__spacing--mah {
    margin: 64px;
}

.mod__spacing--mab {
    margin: 32px;
}

.mod__spacing--mam {
    margin: 16px;
}

.mod__spacing--mas {
    margin: 8px;
}

.mod__spacing--mvh {
    margin-top: 64px;
    margin-bottom: 64px;
}

.mod__spacing--mhh {
    margin-right: 64px;
    margin-left: 64px;
}

.mod__spacing--mvb {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mod__spacing--mhb {
    margin-right: 32px;
    margin-left: 32px;
}

.mod__spacing--mvm {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mod__spacing--mhm {
    margin-right: 16px;
    margin-left: 16px;
}

.mod__spacing--mvs {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mod__spacing--mhs {
    margin-right: 8px;
    margin-left: 8px;
}

.mod__spacing--mlh {
    margin-left: 64px;
}

.mod__spacing--mlb {
    margin-left: 32px;
}

.mod__spacing--mlm {
    margin-left: 16px;
}

.mod__spacing--mls {
    margin-left: 8px;
}

.mod__spacing--mrh {
    margin-right: 64px;
}

.mod__spacing--mrb {
    margin-right: 32px;
}

.mod__spacing--mrm {
    margin-right: 16px;
}

.mod__spacing--mrs {
    margin-right: 8px;
}

.mod__spacing--mth {
    margin-top: 64px;
}

.mod__spacing--mtb {
    margin-top: 32px;
}

.mod__spacing--mtm {
    margin-top: 16px;
}

.mod__spacing--mts {
    margin-top: 8px;
}

.mod__spacing--mbh {
    margin-bottom: 64px;
}

.mod__spacing--mbb {
    margin-bottom: 32px;
}

.mod__spacing--mbm {
    margin-bottom: 16px;
}

.mod__spacing--mbs {
    margin-bottom: 8px;
}

@media only screen and (min-width: $desktop) {
    .mod__spacing--pah-xl {
        padding: 64px;
    }
    
    .mod__spacing--pab-xl {
        padding: 32px;
    }
    
    .mod__spacing--pam-xl {
        padding: 16px;
    }
    
    .mod__spacing--pas-xl {
        padding: 8px;
    }
    
    .mod__spacing--plh-xl {
        padding-left: 64px;
    }
    
    .mod__spacing--plb-xl {
        padding-left: 32px;
    }
    
    .mod__spacing--plm-xl {
        padding-left: 16px;
    }
    
    .mod__spacing--pls-xl {
        padding-left: 8px;
    }
    
    .mod__spacing--prh-xl {
        padding-right: 64px;
    }
    
    .mod__spacing--prb-xl {
        padding-right: 32px;
    }
    
    .mod__spacing--prm-xl {
        padding-right: 16px;
    }
    
    .mod__spacing--prs-xl {
        padding-right: 8px;
    }
    
    .mod__spacing--pth-xl {
        padding-top: 64px;
    }
    
    .mod__spacing--ptb-xl {
        padding-top: 32px;
    }
    
    .mod__spacing--ptm-xl {
        padding-top: 16px;
    }
    
    .mod__spacing--pts-xl {
        padding-top: 8px;
    }
    
    .mod__spacing--pbh-xl {
        padding-bottom: 64px;
    }
    
    .mod__spacing--pbb-xl {
        padding-bottom: 32px;
    }
    
    .mod__spacing--pbm-xl {
        padding-bottom: 16px;
    }
    
    .mod__spacing--pbs-xl {
        padding-bottom: 8px;
    }

    .mod__spacing--pvh-xl {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .mod__spacing--phh-xl {
        padding-right: 64px;
        padding-left: 64px;
    }
    
    .mod__spacing--pvb-xl {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .mod__spacing--phb-xl {
        padding-right: 32px;
        padding-left: 32px;
    }
    
    .mod__spacing--pvm-xl {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .mod__spacing--phm-xl {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .mod__spacing--pvs-xl {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .mod__spacing--phs-xl {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mod__spacing--mah-xl {
        margin: 64px;
    }
    
    .mod__spacing--mab-xl {
        margin: 32px;
    }
    
    .mod__spacing--mam-xl {
        margin: 16px;
    }
    
    .mod__spacing--mas-xl {
        margin: 8px;
    }
    
    .mod__spacing--mlh-xl {
        margin-left: 64px;
    }
    
    .mod__spacing--mlb-xl {
        margin-left: 32px;
    }
    
    .mod__spacing--mlm-xl {
        margin-left: 16px;
    }
    
    .mod__spacing--mls-xl {
        margin-left: 8px;
    }
    
    .mod__spacing--mrh-xl {
        margin-right: 64px;
    }
    
    .mod__spacing--mrb-xl {
        margin-right: 32px;
    }
    
    .mod__spacing--mrm-xl {
        margin-right: 16px;
    }
    
    .mod__spacing--mrs-xl {
        margin-right: 8px;
    }
    
    .mod__spacing--mth-xl {
        margin-top: 64px;
    }
    
    .mod__spacing--mtb-xl {
        margin-top: 32px;
    }
    
    .mod__spacing--mtm-xl {
        margin-top: 16px;
    }
    
    .mod__spacing--mts-xl {
        margin-top: 8px;
    }
    
    .mod__spacing--mbh-xl {
        margin-bottom: 64px;
    }
    
    .mod__spacing--mbb-xl {
        margin-bottom: 32px;
    }
    
    .mod__spacing--mbm-xl {
        margin-bottom: 16px;
    }
    
    .mod__spacing--mbs-xl {
        margin-bottom: 8px;
    }

    .mod__spacing--mvh-xl {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .mod__spacing--mhh-xl {
        margin-right: 64px;
        margin-left: 64px;
    }
    
    .mod__spacing--mvb-xl {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .mod__spacing--mhb-xl {
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .mod__spacing--mvm-xl {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .mod__spacing--mhm-xl {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .mod__spacing--mvs-xl {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .mod__spacing--mhs-xl {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: $desktop) and (min-width: $tablet) {
    .mod__spacing--pah-l {
        padding: 64px;
    }
    
    .mod__spacing--pab-l {
        padding: 32px;
    }
    
    .mod__spacing--pam-l {
        padding: 16px;
    }
    
    .mod__spacing--pas-l {
        padding: 8px;
    }
    
    .mod__spacing--plh-l {
        padding-left: 64px;
    }
    
    .mod__spacing--plb-l {
        padding-left: 32px;
    }
    
    .mod__spacing--plm-l {
        padding-left: 16px;
    }
    
    .mod__spacing--pls-l {
        padding-left: 8px;
    }
    
    .mod__spacing--prh-l {
        padding-right: 64px;
    }
    
    .mod__spacing--prb-l {
        padding-right: 32px;
    }
    
    .mod__spacing--prm-l {
        padding-right: 16px;
    }
    
    .mod__spacing--prs-l {
        padding-right: 8px;
    }
    
    .mod__spacing--pth-l {
        padding-top: 64px;
    }
    
    .mod__spacing--ptb-l {
        padding-top: 32px;
    }
    
    .mod__spacing--ptm-l {
        padding-top: 16px;
    }
    
    .mod__spacing--pts-l {
        padding-top: 8px;
    }
    
    .mod__spacing--pbh-l {
        padding-bottom: 64px;
    }
    
    .mod__spacing--pbb-l {
        padding-bottom: 32px;
    }
    
    .mod__spacing--pbm-l {
        padding-bottom: 16px;
    }
    
    .mod__spacing--pbs-l {
        padding-bottom: 8px;
    }

    .mod__spacing--pvh-l {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .mod__spacing--phh-l {
        padding-right: 64px;
        padding-left: 64px;
    }
    
    .mod__spacing--pvb-l {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .mod__spacing--phb-l {
        padding-right: 32px;
        padding-left: 32px;
    }
    
    .mod__spacing--pvm-l {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .mod__spacing--phm-l {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .mod__spacing--pvs-l {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .mod__spacing--phs-l {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mod__spacing--mah-l {
        margin: 64px;
    }
    
    .mod__spacing--mab-l {
        margin: 32px;
    }
    
    .mod__spacing--mam-l {
        margin: 16px;
    }
    
    .mod__spacing--mas-l {
        margin: 8px;
    }
    
    .mod__spacing--mlh-l {
        margin-left: 64px;
    }
    
    .mod__spacing--mlb-l {
        margin-left: 32px;
    }
    
    .mod__spacing--mlm-l {
        margin-left: 16px;
    }
    
    .mod__spacing--mls-l {
        margin-left: 8px;
    }
    
    .mod__spacing--mrh-l {
        margin-right: 64px;
    }
    
    .mod__spacing--mrb-l {
        margin-right: 32px;
    }
    
    .mod__spacing--mrm-l {
        margin-right: 16px;
    }
    
    .mod__spacing--mrs-l {
        margin-right: 8px;
    }
    
    .mod__spacing--mth-l {
        margin-top: 64px;
    }
    
    .mod__spacing--mtb-l {
        margin-top: 32px;
    }
    
    .mod__spacing--mtm-l {
        margin-top: 16px;
    }
    
    .mod__spacing--mts-l {
        margin-top: 8px;
    }
    
    .mod__spacing--mbh-l {
        margin-bottom: 64px;
    }
    
    .mod__spacing--mbb-l {
        margin-bottom: 32px;
    }
    
    .mod__spacing--mbm-l {
        margin-bottom: 16px;
    }
    
    .mod__spacing--mbs-l {
        margin-bottom: 8px;
    }

    .mod__spacing--mvh-l {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .mod__spacing--mhh-l {
        margin-right: 64px;
        margin-left: 64px;
    }
    
    .mod__spacing--mvb-l {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .mod__spacing--mhb-l {
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .mod__spacing--mvm-l {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .mod__spacing--mhm-l {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .mod__spacing--mvs-l {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .mod__spacing--mhs-l {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: $tablet) and (min-width: $mobile) {
    .mod__spacing--pvh-m {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .mod__spacing--phh-m {
        padding-right: 64px;
        padding-left: 64px;
    }
    
    .mod__spacing--pvb-m {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .mod__spacing--phb-m {
        padding-right: 32px;
        padding-left: 32px;
    }
    
    .mod__spacing--pvm-m {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .mod__spacing--phm-m {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .mod__spacing--pvs-m {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .mod__spacing--phs-m {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mod__spacing--pah-m {
        padding: 64px;
    }
    
    .mod__spacing--pab-m {
        padding: 32px;
    }
    
    .mod__spacing--pam-m {
        padding: 16px;
    }
    
    .mod__spacing--pas-m {
        padding: 8px;
    }
    
    .mod__spacing--plh-m {
        padding-left: 64px;
    }
    
    .mod__spacing--plb-m {
        padding-left: 32px;
    }
    
    .mod__spacing--plm-m {
        padding-left: 16px;
    }
    
    .mod__spacing--pls-m {
        padding-left: 8px;
    }
    
    .mod__spacing--prh-m {
        padding-right: 64px;
    }
    
    .mod__spacing--prb-m {
        padding-right: 32px;
    }
    
    .mod__spacing--prm-m {
        padding-right: 16px;
    }
    
    .mod__spacing--prs-m {
        padding-right: 8px;
    }
    
    .mod__spacing--pth-m {
        padding-top: 64px;
    }
    
    .mod__spacing--ptb-m {
        padding-top: 32px;
    }
    
    .mod__spacing--ptm-m {
        padding-top: 16px;
    }
    
    .mod__spacing--pts-m {
        padding-top: 8px;
    }
    
    .mod__spacing--pbh-m {
        padding-bottom: 64px;
    }
    
    .mod__spacing--pbb-m {
        padding-bottom: 32px;
    }
    
    .mod__spacing--pbm-m {
        padding-bottom: 16px;
    }
    
    .mod__spacing--pbs-m {
        padding-bottom: 8px;
    }

    .mod__spacing--mah-m {
        margin: 64px;
    }
    
    .mod__spacing--mab-m {
        margin: 32px;
    }
    
    .mod__spacing--mam-m {
        margin: 16px;
    }
    
    .mod__spacing--mas-m {
        margin: 8px;
    }
    
    .mod__spacing--mlh-m {
        margin-left: 64px;
    }
    
    .mod__spacing--mlb-m {
        margin-left: 32px;
    }
    
    .mod__spacing--mlm-m {
        margin-left: 16px;
    }
    
    .mod__spacing--mls-m {
        margin-left: 8px;
    }
    
    .mod__spacing--mrh-m {
        margin-right: 64px;
    }
    
    .mod__spacing--mrb-m {
        margin-right: 32px;
    }
    
    .mod__spacing--mrm-m {
        margin-right: 16px;
    }
    
    .mod__spacing--mrs-m {
        margin-right: 8px;
    }
    
    .mod__spacing--mth-m {
        margin-top: 64px;
    }
    
    .mod__spacing--mtb-m {
        margin-top: 32px;
    }
    
    .mod__spacing--mtm-m {
        margin-top: 16px;
    }
    
    .mod__spacing--mts-m {
        margin-top: 8px;
    }
    
    .mod__spacing--mbh-m {
        margin-bottom: 64px;
    }
    
    .mod__spacing--mbb-m {
        margin-bottom: 32px;
    }
    
    .mod__spacing--mbm-m {
        margin-bottom: 16px;
    }
    
    .mod__spacing--mbs-m {
        margin-bottom: 8px;
    }

    .mod__spacing--mvh-m {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .mod__spacing--mhh-m {
        margin-right: 64px;
        margin-left: 64px;
    }
    
    .mod__spacing--mvb-m {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .mod__spacing--mhb-m {
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .mod__spacing--mvm-m {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .mod__spacing--mhm-m {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .mod__spacing--mvs-m {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .mod__spacing--mhs-m {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: $mobile) and (min-width: $mobile-xs) {
    .mod__spacing--pvh-s {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .mod__spacing--phh-s {
        padding-right: 64px;
        padding-left: 64px;
    }
    
    .mod__spacing--pvb-s {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .mod__spacing--phb-s {
        padding-right: 32px;
        padding-left: 32px;
    }
    
    .mod__spacing--pvm-s {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .mod__spacing--phm-s {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .mod__spacing--pvs-s {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .mod__spacing--phs-s {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mod__spacing--pah-s {
        padding: 64px;
    }
    
    .mod__spacing--pab-s {
        padding: 32px;
    }
    
    .mod__spacing--pam-s {
        padding: 16px;
    }
    
    .mod__spacing--pas-s {
        padding: 8px;
    }
    
    .mod__spacing--plh-s {
        padding-left: 64px;
    }
    
    .mod__spacing--plb-s {
        padding-left: 32px;
    }
    
    .mod__spacing--plm-s {
        padding-left: 16px;
    }
    
    .mod__spacing--pls-s {
        padding-left: 8px;
    }
    
    .mod__spacing--prh-s {
        padding-right: 64px;
    }
    
    .mod__spacing--prb-s {
        padding-right: 32px;
    }
    
    .mod__spacing--prm-s {
        padding-right: 16px;
    }
    
    .mod__spacing--prs-s {
        padding-right: 8px;
    }
    
    .mod__spacing--pth-s {
        padding-top: 64px;
    }
    
    .mod__spacing--ptb-s {
        padding-top: 32px;
    }
    
    .mod__spacing--ptm-s {
        padding-top: 16px;
    }
    
    .mod__spacing--pts-s {
        padding-top: 8px;
    }
    
    .mod__spacing--pbh-s {
        padding-bottom: 64px;
    }
    
    .mod__spacing--pbb-s {
        padding-bottom: 32px;
    }
    
    .mod__spacing--pbm-s {
        padding-bottom: 16px;
    }
    
    .mod__spacing--pbs-s {
        padding-bottom: 8px;
    }

    .mod__spacing--mah-s {
        margin: 64px;
    }
    
    .mod__spacing--mab-s {
        margin: 32px;
    }
    
    .mod__spacing--mam-s {
        margin: 16px;
    }
    
    .mod__spacing--mas-s {
        margin: 8px;
    }
    
    .mod__spacing--mlh-s {
        margin-left: 64px;
    }
    
    .mod__spacing--mlb-s {
        margin-left: 32px;
    }
    
    .mod__spacing--mlm-s {
        margin-left: 16px;
    }
    
    .mod__spacing--mls-s {
        margin-left: 8px;
    }
    
    .mod__spacing--mrh-s {
        margin-right: 64px;
    }
    
    .mod__spacing--mrb-s {
        margin-right: 32px;
    }
    
    .mod__spacing--mrm-s {
        margin-right: 16px;
    }
    
    .mod__spacing--mrs-s {
        margin-right: 8px;
    }
    
    .mod__spacing--mth-s {
        margin-top: 64px;
    }
    
    .mod__spacing--mtb-s {
        margin-top: 32px;
    }
    
    .mod__spacing--mtm-s {
        margin-top: 16px;
    }
    
    .mod__spacing--mts-s {
        margin-top: 8px;
    }
    
    .mod__spacing--mbh-s {
        margin-bottom: 64px;
    }
    
    .mod__spacing--mbb-s {
        margin-bottom: 32px;
    }
    
    .mod__spacing--mbm-s {
        margin-bottom: 16px;
    }
    
    .mod__spacing--mbs-s {
        margin-bottom: 8px;
    }

    .mod__spacing--mvh-s {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .mod__spacing--mhh-s {
        margin-right: 64px;
        margin-left: 64px;
    }
    
    .mod__spacing--mvb-s {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .mod__spacing--mhb-s {
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .mod__spacing--mvm-s {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .mod__spacing--mhm-s {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .mod__spacing--mvs-s {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .mod__spacing--mhs-s {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: $mobile-xs) {
    .mod__spacing--pvh-xs {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .mod__spacing--phh-xs {
        padding-right: 64px;
        padding-left: 64px;
    }
    
    .mod__spacing--pvb-xs {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .mod__spacing--phb-xs {
        padding-right: 32px;
        padding-left: 32px;
    }
    
    .mod__spacing--pvm-xs {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .mod__spacing--phm-xs {
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .mod__spacing--pvs-xs {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .mod__spacing--phs-xs {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mod__spacing--pah-xs {
        padding: 64px;
    }
    
    .mod__spacing--pab-xs {
        padding: 32px;
    }
    
    .mod__spacing--pam-xs {
        padding: 16px;
    }
    
    .mod__spacing--pas-xs {
        padding: 8px;
    }
    
    .mod__spacing--plh-xs {
        padding-left: 64px;
    }
    
    .mod__spacing--plb-xs {
        padding-left: 32px;
    }
    
    .mod__spacing--plm-xs {
        padding-left: 16px;
    }
    
    .mod__spacing--pls-xs {
        padding-left: 8px;
    }
    
    .mod__spacing--prh-xs {
        padding-right: 64px;
    }
    
    .mod__spacing--prb-xs {
        padding-right: 32px;
    }
    
    .mod__spacing--prm-xs {
        padding-right: 16px;
    }
    
    .mod__spacing--prs-xs {
        padding-right: 8px;
    }
    
    .mod__spacing--pth-xs {
        padding-top: 64px;
    }
    
    .mod__spacing--ptb-xs {
        padding-top: 32px;
    }
    
    .mod__spacing--ptm-xs {
        padding-top: 16px;
    }
    
    .mod__spacing--pts-xs {
        padding-top: 8px;
    }
    
    .mod__spacing--pbh-xs {
        padding-bottom: 64px;
    }
    
    .mod__spacing--pbb-xs {
        padding-bottom: 32px;
    }
    
    .mod__spacing--pbm-xs {
        padding-bottom: 16px;
    }
    
    .mod__spacing--pbs-xs {
        padding-bottom: 8px;
    }

    .mod__spacing--mah-xs {
        margin: 64px;
    }
    
    .mod__spacing--mab-xs {
        margin: 32px;
    }
    
    .mod__spacing--mam-xs {
        margin: 16px;
    }
    
    .mod__spacing--mas-xs {
        margin: 8px;
    }
    
    .mod__spacing--mlh-xs {
        margin-left: 64px;
    }
    
    .mod__spacing--mlb-xs {
        margin-left: 32px;
    }
    
    .mod__spacing--mlm-xs {
        margin-left: 16px;
    }
    
    .mod__spacing--mls-xs {
        margin-left: 8px;
    }
    
    .mod__spacing--mrh-xs {
        margin-right: 64px;
    }
    
    .mod__spacing--mrb-xs {
        margin-right: 32px;
    }
    
    .mod__spacing--mrm-xs {
        margin-right: 16px;
    }
    
    .mod__spacing--mrs-xs {
        margin-right: 8px;
    }
    
    .mod__spacing--mth-xs {
        margin-top: 64px;
    }
    
    .mod__spacing--mtb-xs {
        margin-top: 32px;
    }
    
    .mod__spacing--mtm-xs {
        margin-top: 16px;
    }
    
    .mod__spacing--mts-xs {
        margin-top: 8px;
    }
    
    .mod__spacing--mbh-xs {
        margin-bottom: 64px;
    }
    
    .mod__spacing--mbb-xs {
        margin-bottom: 32px;
    }
    
    .mod__spacing--mbm-xs {
        margin-bottom: 16px;
    }
    
    .mod__spacing--mbs-xs {
        margin-bottom: 8px;
    }

    .mod__spacing--mvh-xs {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .mod__spacing--mhh-xs {
        margin-right: 64px;
        margin-left: 64px;
    }
    
    .mod__spacing--mvb-xs {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    .mod__spacing--mhb-xs {
        margin-right: 32px;
        margin-left: 32px;
    }
    
    .mod__spacing--mvm-xs {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .mod__spacing--mhm-xs {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    .mod__spacing--mvs-xs {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .mod__spacing--mhs-xs {
        margin-right: 8px;
        margin-left: 8px;
    }
}