<div class="listing-container">
    <div class="league-info">
        <h2 class="team-name">{{ team.teamName }}</h2>
	</div>
	<div class="record">
		<h3>{{team?.record?.wins}} - {{team?.record?.losses}} - {{team?.record?.ties}}</h3>
	</div>
    <div class="button-cont">
        <button 
            (click)="onSelectedLeague(team)" 
            class="
                primary 
                mod__spacing--pvm
                mod__spacing--pvs-xs">
                Select Team
            </button>
    </div>
</div>
