@import '../../styles/variables.scss';

.listing-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px 70px;
    grid-template-areas:
		"league-info"
		"record"
        "button-cont";

    .league-info,
    .button-cont {
        justify-self: center;
        align-self: center;
    }

    .league-info {
        grid-area: league-info;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
        grid-template-areas:
            "team-name";
		width: 100%;

        .team-name {
			grid-area: team-name;
			color: var(--text-secondary);
			font-size: 2em;
			justify-self: center;
			align-self: center;
			font-weight: 500;
        }
	}
	
	.record {
		grid-area: record;
		justify-self: center;
        align-self: center;

		h3 {
			font-size: 1.8rem;
			font-weight: 500;
		}
	}

    .button-cont {
        grid-area: button-cont;
        width: 100%;
        text-align: center;

        button {
            min-width: unset;
            width: 90%;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .listing-container {
        .button-cont {
            button {
                width: 84%;
                font-size: 1.6rem;
            }
        }
    }
}
