<div class="fd">
    <div class="fd-header">
        <div class="header-info">
            <h1 class="info-name">{{ fighter?.name }}</h1>
            <h3 class="info-nickname">"{{ fighter?.nickname ? fighter?.nickname : 'No Nickname' }}"</h3>
            <h3 class="info-weight">
                <span class="category">
                    Weight:
                </span>
                <span>
                    {{ fighter?.weight }}
                </span>
            </h3>
            <h3 class="info-age">
                <span class="category">
                    Age:
                </span>
                <span>
                    {{ fighter?.age }} yrs
                </span> 
            </h3>
            <h3 class="info-height">
                <span class="category">
                    Height:
                </span>
                <span>
                    {{ fighter?.height }}
                </span>
            </h3>
            <h3 class="info-association">
                <span class="category">
                    Team:
                </span>
                <span>
                    {{ fighter?.association }}
                </span>
            </h3>
        <!-- </div>
        <div class="header-record"> -->
            <div class="info-record-header">
                <h4 class="category"></h4>
                <h4 class="win bold">Wins</h4>
                <h4 class="loss bold">Losses</h4>
            </div>
            <div class="info-cat-ko">
                <h4 class="category">Knockouts</h4>
                <h4 class="win">{{ fighter?.wins?.knockouts }}</h4>
                <h4 class="loss">{{ fighter?.losses?.knockouts }}</h4>
            </div>
            <div class="info-cat-dc">
                <h4 class="category">Decisions</h4>
                <h4 class="win">{{ fighter?.wins?.decisions }}</h4>
                <h4 class="loss">{{ fighter?.losses?.decisions }}</h4>
            </div>
            <div class="info-cat-sb">
                <h4 class="category">Submissions</h4>
                <h4 class="win">{{ fighter?.wins?.submissions }}</h4>
                <h4 class="loss">{{ fighter?.losses?.submissions }}</h4>
            </div>
            <div class="info-cat-nc">
                <h4 class="category">Other</h4>
                <h4 class="win">{{ fighter?.wins?.others }}</h4>
                <h4 class="loss">{{ fighter?.losses?.others }}</h4>
            </div>
            <div class="info-cat-total">
                <h4 class="category">Total</h4>
                <h4 class="win">{{ fighter?.wins?.total }}</h4>
                <h4 class="loss">{{ fighter?.losses?.total }}</h4>
            </div>
        </div>
    </div>
    <ul>
        <li *ngFor="let fight of fighter?.fights; let i = index">
                <h3>{{ fight.opponent }}</h3>
                <h3>{{ fight.result }}</h3>
                <h3>{{ fight.method }}</h3>
                <h3>{{ fight.round }}</h3>
                <h3>{{ fight.name }}</h3>
                <h3>{{ fight. date }}</h3>
        </li>
    </ul>
</div>