.fd {
    background: var(--depressed-bg);
    box-shadow: var( --box-shadow-inset);
    border-radius: 10px;
    width: 83%;
    margin: auto;
    padding: 2rem;  
}

.header-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        'info-name info-name info-name info-name info-name info-name'
        'info-nickname info-nickname info-nickname info-nickname info-nickname info-nickname'
        'info-weight info-weight info-weight info-weight info-weight info-weight'
        'info-age info-age info-age info-age info-age info-age'
        'info-height info-height info-height info-height info-height info-height'
        'info-association info-association info-association info-association info-association info-association'
        'info-record-header info-record-header info-record-header info-record-header info-record-header info-record-header'
        'info-cat-ko info-cat-ko info-cat-ko info-cat-ko info-cat-ko info-cat-ko'
        'info-cat-dc info-cat-dc info-cat-dc info-cat-dc info-cat-dc info-cat-dc'
        'info-cat-sb info-cat-sb info-cat-sb info-cat-sb info-cat-sb info-cat-sb'
        'info-cat-nc info-cat-nc info-cat-nc info-cat-nc info-cat-nc info-cat-nc'
        'info-cat-total info-cat-total info-cat-total info-cat-total info-cat-total info-cat-total';

    .info-cat-nc,
    .info-cat-ko,
    .info-cat-dc,
    .info-cat-sb,
    .info-record-header,
    .info-cat-total {
        display: grid;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "category win loss";

        .category {
            text-align: right;
            align-self: center;
        }

        .win,
        .loss {
            justify-self: center;
            align-self: center;
            font-family: 'Exo 2', sans-serif;
        }

        .category {
            grid-area: category;
        }

        .win {
            grid-area: win;
        }

        .loss {
            grid-area: loss;
        }
        

        h4 {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }

    .info-age,
    .info-height,
    .info-weight,
    .info-association {
        display: grid;
        grid-template-columns: 1fr 3fr;

        .category {
            text-align: right;
            margin: 0 1rem 0 0;
        }
    }

    .info-name {
        grid-area: info-name;
        text-align: center;
    }
    
    .info-nickname {
        grid-area: info-nickname;
        font-size: 1.6rem;
        text-align: center;
    }

    .info-weight {
        grid-area: info-weight;
    }

    .info-age {
        grid-area: info-age;
    }

    .info-height {
        grid-area: info-height;
    }

    .info-association {
        grid-area: info-association;
    }

    .info-cat-total {
        grid-area: info-cat-total;
    }

    .info-record-header {
        grid-area: info-record-header;
    }

    .info-cat-ko {
        grid-area: info-cat-ko;
    }

    .info-cat-dc {
        grid-area: info-cat-dc;
    }

    .info-cat-sb {
        grid-area: info-cat-sb;
    }

    .info-cat-nc {
        grid-area: info-cat-nc;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 4px 7px;
        margin: 20px auto;
        width: 92%;
        height: auto;
        max-height: 325px;
        overflow: hidden;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
        position: relative;
        border: 1px solid black;

        .collapse-icon {
            position: absolute;
            left: 0;
            top: 6px;
    
            img {
                transform: rotate(270deg);
                -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
    
            img.rotate {
                transform: rotate(180deg);
            }
        }
    }

    li.loss {
        background: rgba(191, 126, 126, 0.3);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    li.win {
        background: rgba(23, 177, 141, 0.3);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    li.collapsed-li {
        max-height: 30px;
        border-radius: 4px;
    }
    
    h3 {
        display: inline-block;
        padding: 0;
        margin: 3px auto;
        font-weight: 500;
        font-family: 'Exo 2', sans-serif;
        text-transform: capitalize;
    }

    h3.title {
        font-weight: 700;
        margin: auto 8px auto 20px;
    }

    h3.event {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1350px) {
    .fd-header {
        display: grid;
        grid-template-columns: 1fr;
    }
}