@import '../../styles/variables.scss';

.home-page {
	width: 100%;
	margin: auto;
	padding: 2rem 4.8rem 0;
}

.league-listings {
	border-radius: 10px;
    background: var(--box-shadow-bg);
	box-shadow: var(--box-shadow-primary);
	min-height: 80vh;
	padding: 3rem;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 3.5rem;
	
	ul {
		list-style-type: none;
		padding: 0 1rem;
	}
	
	ul li {
		width: 25rem;
		padding: 2rem;
		text-align: center;
		border-radius: 7px;
		box-shadow: var(--box-shadow-inset);
		background: var(--depressed-bg);
	}
}

@media only screen and (max-width: $tablet) {
	h1 {
		font-weight: 500;
		font-size: 2.4rem;
	}

	.league-listings {
		min-height: auto;

		ul li {
			width: 100%;
			padding: 2rem 0;
		}
	}
}

