<div class="home-page" *ngIf="userInfo">
	<h1>Dashboard</h1>

	<div class="league-listings">
		<ul>
			<ng-container *ngFor="let team of userInfo.teams ; index as i">
				<li *ngIf="i === userInfo.teams.length - 1">
					<league-listing [team]="team" (selectedTeam)="goToTeam($event)">
					</league-listing>
				</li>
			</ng-container>
		</ul>
	</div>
</div>