<div class="user-settings">
    <h3 class="mod__spacing--mbb mod__font-weight--400">
        User Settings
    </h3>
    <div class="
        container 
        container--split-xl 
        container--split-l">
        <div class="
            container__column
            container__column--three-tenth-xl
            container__column--three-tenth-l
            mod__spacing--prm-l 
            mod__spacing--prm-xl 
            mod__spacing--mbh">
            <div class="card mod__spacing--phb mod__spacing--pvm">
                <h4 class="
                    mod__spacing--mtm 
                    mod__spacing--mbb 
                    mod__font-weight--400
                    text-primary">
                    Reset Password
                </h4>

                <form
                    class="
                    container 
                    mod__text-align--c"
                    novalidate 
                    (ngSubmit)="updatePassword()" 
                    [formGroup]="passwordReset">
                    <div class="container__column mod__spacing--mbm">
                        <input type="text" class="mod__spacing--pas text-primary" formControlName="newPassword" placeholder="New Password">
                    </div>

                    <div class="container__column mod__spacing--mbm">
                        <input type="text" class="mod__spacing--pas text-primary" formControlName="verifyPassword" placeholder="Verify Password">
                    </div>

                    <div class="container__column">
                        <button 
                            type="submit"
                            class="
                                primary
                                mod__spacing--pvs
                                mod__spacing--phh
                                mod__spacing--mtm
                                mod__spacing--mbb
                                container__column">
                                Reset
                        </button>

                        <span 
                            *ngIf="error" 
                            class="
                                error 
                                mod__font-weight--400
                                mod__width--100 
                                mod__display--block 
                                mod__spacing--mbm
                                text-error">
                            {{ error }}
                        </span>

                        <span 
                            *ngIf="successMsg" 
                            class="
                                success
                                text-primary 
                                mod__font-weight--400
                                mod__width--100 
                                mod__display--block 
                                mod__spacing--mbm">
                            {{ successMsg }}
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="
            container__column
            container__column--three-tenth-xl
            container__column--three-tenth-l
            mod__spacing--prm-l 
            mod__spacing--prm-xl 
            mod__spacing--mbh">
            <!-- <div class="card">
                <h3 class="mod__spacing--mbb mod__font-weight--400">
                    User Settings
                </h3>
            </div> -->
        </div>

        <div class="
            container__column
            container__column--three-tenth-xl
            container__column--three-tenth-l
            mod__spacing--prm-l 
            mod__spacing--prm-xl 
            mod__spacing--mbh">
            <!-- <div class="card">
                <h3 class="mod__spacing--mbb mod__font-weight--400">
                    User Settings
                </h3>
            </div> -->
        </div>
    </div>
</div>

<loading-modal [text]="'Loading...'" [isLoading]="isLoading"></loading-modal>