.user-settings {
	padding: 2rem 4.8rem 0;
	
    h3 {
        font-size: 2.6rem;
        font-weight: 400;
    }

    h4 {
        width: 100;
        font-size: 2.4rem;
        text-align:center;
    }

    input {
        width: 100%;
        height: 5rem;
        border-radius: 1rem;
        border: 2px solid var(--box-shadow-bg);
        box-shadow: var(--box-shadow-primary);
        font-size: 1.8rem;
    }
    
    button {
        width: 100%;
        height: 5rem;
        font-size: 1.8rem;
    }

    .error,
    .success {
        font-size: 2rem;
    }
}