<div class="
    create-event-container
    container">

    <h1 class="container__column">
        Create Event
    </h1>

    <div class="container__column container">
        <form 
            class="
                card 
                container__column
                mod__spacing--mtb
                mod__spacing--pab" 
            [formGroup]="newEvent"
            (submit)="createEvent()" 
            novalidate>

            <!-- <div formArrayName="matchups">
                <div class="
                    container 
                    container--split-xl
                    container--split-l"
                    *ngFor="let match of matchups; let i = index;">
                    <ng-container [formGroupName]="i">
                        <div class="container__column container__column--half">
                            <label for="team1">Team1:</label>
                            <search [options]="allTeams" [controlName]="'team1'">
                            </search>
                        </div>
                        <div class="container__column container__column--half">
                            <label for="team2">Team2:</label>
                            <search [options]="allTeams" [controlName]="'team2'">
                            </search>
                        </div>
                    </ng-container>
                </div>

                <hr class="mod__display--block mod__spacing--mvb">
            </div> -->


            <div class="
                container 
                container--split-xl
                container--split-l">
                <div class="
                    container__column 
                    container__column--half">
                    <label for="eventTitle">Event Title:</label>
                    <input type="text" name="eventTitle" formControlName="eventTitle">
                </div>
                <div class="
                    container__column 
                    container__column--half">
                    <label for="date">Event Date:</label>
                    <input type="text" name="date" formControlName="date">
                </div>
                
            </div>

            <div class="
                container 
                container--split-xl
                container--split-l">
                <div class="
                    container__column 
                    container__column--half">
                    <label for="venue">Venue:</label>
                    <input type="text" name="venue" formControlName="venue">
                </div>
                <div class="
                    container__column 
                    container__column--half">
                    <label for="scoringType" class="dropdown">Scoring System:</label>
                    <dropdown 
                        [options]="[
                            { display: 'Method', value: 'method' },
                            { display: 'Confidence', value: 'confidence' }
                        ]" 
                        [controlName]="'scoringType'">
                    </dropdown>
                </div>
            </div>

            <div class="
                container 
                container--split-xl
                container--split-l">
                <div class="
                    container__column 
                    container__column--half">
                    <label for="">
                        Started:
                    </label>
                    <checkbox
                        [items]="[
                            { display: 'Yes', value: true },
                            { display: 'No', value: false }
                        ]"
                        [prepopProperty]="'started'"
                        [formGroup]="newEvent"
                        [controlName]="'started'"
                        [disabled]="false">
                    </checkbox>
                </div>
                <div class="
                    container__column 
                    container__column--half">
                    <label for="">
                        Ended:
                    </label>
                    <checkbox
                        [items]="[
                            { display: 'Yes', value: true },
                            { display: 'No', value: false }
                        ]"
                        [prepopProperty]="'completed'"
                        [formGroup]="newEvent"
                        [controlName]="'completed'"
                        [disabled]="false">
                    </checkbox>
                </div>
            </div>

            <div class="container" formArrayName="lineup">
                <div *ngFor="let match of lineups; let i = index;">
                    <hr class="mod__display--block mod__spacing--mvb">
                    <label>Fight {{i + 1}}:</label>
                    <div [formGroupName]="i">
                        <div class="
                            container 
                            container--split-xl
                            container--split-l">
                            <div class="
                                container__column 
                                container__column--half">
                                <label for="card">Card:</label>
                                <input type="text" name="card" formControlName="card">
                            </div>
                            <div class="
                                container__column 
                                container__column--half">
                                <label for="method">Method:</label>
                                <input type="text" name="method" formControlName="method">
                            </div>
                        </div>

                        <div class="
                            container 
                            container--split-xl
                            container--split-l">
                            <div class="
                                container__column 
                                container__column--half">
                                <label for="round">Round:</label>
                                <input type="text" name="round" formControlName="round">
                            </div>
                            <div class="
                                container__column 
                                container__column--half">
                                <label for="started">Fight Started:</label>
                                <checkbox
                                    [items]="[
                                        { display: 'Yes', value: true },
                                        { display: 'No', value: false }
                                    ]"
                                    [prepopProperty]="'started'"
                                    [formGroup]="lineups[i]"
                                    [controlName]="'started'"
                                    [disabled]="false">
                                </checkbox>
                            </div>
                        </div>

                        <div class="
                            container 
                            container--split-xl
                            container--split-l">
                            <div class="
                                container__column">
                                <label for="winner">Winner:</label>
                                <search [options]="allFighters" [controlName]="'winner'">
                                </search>
                            </div>
                        </div>
                        
                        <div class="container" formGroupName="fight">
                            <div class="
                                container 
                                container--split-xl
                                container--split-l">
                                <div class="
                                    container__column 
                                    container__column--half">
                                    <label for="fighterId1">Fighter One:</label>
                                    <search [options]="allFighters" [controlName]="'fighter1Id'">
                                    </search>
                                </div>
                                <div class="
                                    container__column 
                                    container__column--half">
                                    <label for="fighterId2">Fighter Two:</label>
                                    <search [options]="allFighters" [controlName]="'fighter2Id'">
                                    </search>
                                </div>
                            </div>
                            <div class="
                                container 
                                container--split-xl
                                container--split-l">
                                <div class="
                                    container__column 
                                    container__column--half">
                                    <label for="weight">Weight</label>
                                    <input type="number" name="weight" formControlName="weight" min="115" max="225">
                                </div>
                                <div class="
                                    container__column 
                                    container__column--half">
                                    <label for="rounds">Number Of Rounds</label>
                                    <input type="number" formControlName="rounds" min="3" max="5">
                                </div>
                            </div>

                            <div class="
                                container 
                                container__column"
                                formArrayName="bonus">
                                <label>Bonus</label>
                                <div *ngFor="let bonus of lineups[i].get('fight')?.get('bonus')?.controls; let bonusIndex = index;">
                                    <div class="
                                        container 
                                        container--split-xl
                                        container--split-l" 
                                        [formGroupName]="bonusIndex">
                                        <div class="
                                            container__column 
                                            container__column--three-tenth">
                                            <label for="recipient">Recipient</label>
											<search [options]="allFighters" [controlName]="'recipient'">
											</search>
                                        </div>
                                        <div class="
                                            container__column 
                                            container__column--three-tenth">
                                            <label for="amount">Amount</label>
                                            <input type="number" name ="amount" formControlName="amount">
                                        </div>
                                        <div class="
                                            container__column 
                                            container__column--three-tenth">
                                            <label for="reason">Reason</label>
                                            <input type="text" name="reason" formControlName="reason">
                                        </div>
                                    </div>

                                    <button type="button" (click)="removeBonus(i, bonusIndex)">Remove</button>
                                </div>
                                <button type="button" (click)="addBonus(i)">Add Bonus</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="addMatch()">Add</button>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <form [formGroup]="newMatchups" novaliate (submit)="addMatchup()">
        <div>
            <label for="event" class="dropdown">Events:</label>
            <dropdown 
                [options]="events" 
                [controlName]="'event'">
            </dropdown>
        </div>
        <div formArrayName="matchups">
            <div class="
                container 
                container--split-xl
                container--split-l"
                *ngFor="let match of matchups; let i = index;">
                <ng-container [formGroupName]="i">
                    <div class="container__column container__column--half">
                        <label for="team1">Team1:</label>
                        <search [options]="allTeams" [controlName]="'team1'">
                        </search>
                    </div>
                    <div class="container__column container__column--half">
                        <label for="team2">Team2:</label>
                        <search [options]="allTeams" [controlName]="'team2'">
                        </search>
                    </div>
                </ng-container>
            </div>

            <button type="submit">Add Matchup</button>
        </div>
    </form>

    <!-- <hr class="mod__display--block mod__spacing--mvb"> -->

    <h1 class="container__column">
        Add Fighter
    </h1>

    <form class="container__column" [formGroup]="newFighter" novalidate (submit)="addFighter()">
        <input type="text" formControlName="fighterPath">

        <button type="submit">Get Fighter</button>
    </form>

</div>