.create-event-container {
    padding: 2rem 4.8rem 0;
    height: 100vh;
    overflow: scroll;

    h1 {
        font-size: 2.4rem;
    }

    input {
        width: 95%;
        height: 5rem;
        border-radius: 1rem;
        border: 1px solid var(--box-shadow-border);
        box-shadow: var(--box-shadow-primary);
        font-size: 1.8rem;
        margin: 1rem auto 0;
        padding: 0 1.6rem;
    }
    
    button {
        width: 100%;
        height: 5rem;
        font-size: 1.8rem;
        max-width: 20rem;
        border-radius: 1rem;
        cursor: pointer;
    }

    form {
        // max-height: 70rem;
        // overflow: scroll;

        label {
            display: inline-block;
            margin: 1rem auto;
            font-size: 1.8rem;
        }

        label.dropdown {
            margin-bottom: 32px;
        }
    }
}