fieldset {
    position: relative;
    width: 100%;
    padding: 0;
}

input {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 5rem;
    border: 1px solid var(--box-shadow-border);
    box-shadow: var(--box-shadow-primary);
    padding: 0 1.6rem;
    font-size: 1.8rem;
}

.dropdown {
    max-height: 20rem;
    overflow: scroll;
    width: 100%;
    border: 1px solid var(--box-shadow-border);
    box-shadow: var(--box-shadow-primary);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    background: var(--bg-primary-body);
    z-index: 1;
}

li {
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        color: var(--text-primary);
    }
}

