<fieldset>
    <form novalidate [formGroup]="filterForm" (input)="onInputChange()">
        <input type="text" formControlName="filter">
    </form>
    <div class="dropdown" *ngIf="!filterForm.get('filter').invalid && dropdownFlag">
        <ul>
            <li 
                *ngFor="let option of options | dropdownFilter: filterForm.get('filter').value"
                (click)="selectOption(option)">
                {{ option.display }}
            </li>
        </ul>
    </div>
</fieldset>