@import '../../styles/variables.scss';

.league {
    height: 100%;
	overflow: scroll;
	scrollbar-color: #56a0fb #eef5fb;
    scrollbar-width: none;
    font-size: 1.2rem;
	padding: 2rem 4.8rem 0;
    
    &::-webkit-scrollbar {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background: #eef5fb;
	}

	&::-webkit-scrollbar-thumb {
		background: #56a0fb;
    }
    
    h3 {
        font-size: 2rem;
    }

    ul {
        li {
            margin: 0.5rem 0;
        }
    }

    .label {
        font-weight: 600;
        margin: 0.5rem 0;
        color: var(--text-primary);
    }

    .label ~ ul,
    .label ~ span {
        font-size: 1.2rem;
        max-width: 12rem;
    }
}

@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    .league {
        font-size: 1.4rem;
        
        h3 {
            font-size: 2.4rem;
        }

        .label {
            font-size: 20px;
        }

        .label ~ ul,
        .label ~ span {
            font-size: 1.8rem;
            max-width: 30rem;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .league {
        font-size: 1.6rem;

        h3 {
            font-size: 2.6rem;
        }

        .label ~ ul,
        .label ~ span {
            font-size: 1.4rem;
            max-width: 15rem;
        }
    }
}