<div class="
    league 
    container 
    container--split-l
    container--split-xl">
    <div class="
        container__column 
        container__column--three-fifth-l
        container__column--three-fifth-xl
        mod__spacing--prm-l 
        mod__spacing--prm-xl 
        mod__spacing--mbh">
        <h3 class="mod__spacing--mbb mod__font-weight--400">
            Pound-For-Pound Rankings
        </h3>
        <div class="card mod__spacing--pam">
            <div class="container container--split mod__text-align--c mod__font-weight--600">
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>RANK</span>
                </div>
                <div class="container__column--three-tenth mod__text-align--l mod__spacing--pvs">
                    <span>PLAYER</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>PTS FOR</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>PTS AGST</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>RECORD</span>
                </div>
            </div>
            
            <div *ngFor="let team of teams | filter: 'ascending'; let i = index"
                class="
                    container 
                    container--split 
                    mod__text-align--c
                    mod__font-weight--600">
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>{{ i + 1 }}</span>
                </div>
                <div class="container__column--three-tenth mod__text-align--l mod__spacing--pvs text-primary">
                    <span>{{ team?.teamName }}</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs mod__font-weight--400">
                    <span>{{ team?.totalPoints | number:0 }}</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs mod__font-weight--400">
                    <span>{{ team?.totalPointsAgainst | number:0 }}</span>
                </div>
                <div class="container__column--sixth mod__spacing--pvs">
                    <span>{{ team?.record?.wins }}</span> -
                    <span>{{ team?.record?.losses }}</span> -
                    <span>{{ team?.record?.ties }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="
        container__column
        container__column--two-fifth-l
        container__column--two-fifth-xl
        mod__spacing--plm-l 
        mod__spacing--plm-xl 
        mod__spacing--mbh-m">
        <h3 class="mod__spacing--mbb mod__font-weight--400">
            League Rules
        </h3>
        <div class="
            container 
            container--split 
            card 
            container--wrap
            mod__spacing--pam">
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">League Name:</span> 
                <span class="mod__display--block">Midwest MMA</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Members:</span> 
                <span class="mod__display--block">{{ league.rules.numberOfTeam }} Players</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">League Start:</span> 
                <span class="mod__display--block">{{ league.start }}</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">League End:</span> 
                <span class="mod__display--block">{{ league.end }}</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">League Dues:</span> 
                <span class="mod__display--block">150</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Prize Pool:</span> 
                <span class="mod__display--block">$2,100</span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Points Breakdown:</span>
                <ul class="mod__display--block">
                    <li>400 correct draw</li>
                    <li>200 correct winner</li>
                    <li>75 correct method</li>
                    <li>50 correct round</li>
                </ul>

                <span class="
                    mod__display--block 
                    mod__spacing--mvs 
                    mod__font-weight--500">
                    <span class="
                        text-primary 
                        mod__display--inline-block 
                        mod__spacing--mrs">*</span>
                        Match ends in DQ - points awarded to winner
                </span>
                
                <span class="
                    mod__display--block 
                    mod__font-weight--500">
                    <span class="
                        text-primary 
                        mod__display--inline-block 
                        mod__spacing--mrs">*</span>
                        No content - all points voided
                </span>
            </div>
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Bonus Breakdown:</span>
                <ul class="mod__display--block">
                    <li>50 Main Event</li>
                    <li>50 UFC Debut</li>
                    <li>50 Late Notice</li>
                    <li>100 Tight Match-Up</li>
                    <li>100 Underdog</li>
                    <li>150 Title Fight</li>
                    <li>400 Big Underdog</li>
                </ul>
            </div>


            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block top">Scoring System:</span> 
                <span class="mod__display--block">{{ league.rules.scoring.type }}</span>
            </div>

            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Retroactive DQ</span> 
                <span class="mod__display--block">Case by case basis, a league vote be held</span>
            </div>
    
            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block top">Payouts:</span>
                <ul class="mod__display--block">
                    <li>1st - $600</li>
                    <li>2nd - $400</li>
                    <li>3rd - $300</li>
                    <li>4th - $200</li>
                    <li>5th - $100</li>
                </ul>
            </div>

            <div class="container__column container__column--half mod__spacing--mbm">
                <span class="label mod__display--block">Most Points</span>
                <span class="mod__display--block mod__spacing--mbm">$100</span>
                
                <span class="label mod__display--block">Most Points Single Event</span> 
                <span class="mod__display--block mod__spacing--mbm">$100</span>

                <span class="label mod__display--block">End of Year Tournament</span> 
                <span class="mod__display--block mod__spacing--mbm">$300</span>
            </div>
        </div> 
    </div>
</div>
