.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: 10% auto 0;
    min-height: 45rem;
    width: 90%;
    max-width: 520px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);

    h3 {
        font-size: 2.8rem;
        text-align: center;
        font-weight: 400;
    }
}

input {
    height: 55px;
    outline: none;
    font-size: 20px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-inset);
    background: var(--box-shadow-bg);
    border: 1px solid var(--box-shadow-border);
    letter-spacing: 0.05em;
    font-weight: 100;
}

input:hover {
    border: 1px solid rgba(0,0,0,0.3);
}

button {
    font-size: 2.4rem;
}

.error {
    color: red;
    display: block;
    width: 90%;
    margin: 24px auto;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
