<div 
    [@dialog] 
    *ngIf="visible" 
    class="
        dialog
        container">
    <h3 class="
        container__column 
        mod__spacing--ptb 
        mod__spacing--pbm
        text-primary">Real Fantasy Sports</h3>
    <form 
        class="
            container__column 
            mod__text-align--c
            mod__spacing--pab" 
        novalidate 
        (submit)="login()" 
        [formGroup]="form">
        <div>
            <input 
                type="text" 
                name="username" 
                class="
                    mod__width--100
                    mod__spacing--mbb
                    mod__spacing--pas
                    text-primary"
                placeholder="Email" 
                formControlName="username">
        </div>
        <div>
            <input 
                type="password" 
                name="password" 
                class="
                    mod__width--100
                    mod__spacing--mbh
                    mod__spacing--pas
                    text-primary"
                placeholder="Password" 
                formControlName="password">
        </div>
        <div>
            <button 
                type="submit" 
                class="primary mod__width--100 mod__spacing--pvm" 
                [disabled]="form.invalid">
                Login
            </button>
        </div>
        <span class="error" *ngIf="error">{{ error }}</span>
    </form>
</div>
<div *ngIf="visible" class="overlay"></div>