.matchup-container {
	display: inline-block;
	border: 1px solid black;
	margin: 15px;
	padding: 7px;
	font-size: 16px;
	width: 275px;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

	h3 {
		padding: 3px 0;
		margin: 0;
		font-size: 16px;
	}

	span {
		float: right;
		width: 75px;
		border-left: 1px dashed black;
		text-align: center;
	}
}
