<div class="matchup-container">
    <h3>{{team1?.teamName}} <span>{{team1?.picks[selectedWeek]?.totalPoints}}</span></h3>
    <h3>{{team2?.teamName}} <span>{{team2?.picks[selectedWeek]?.totalPoints}}</span></h3>
</div>