<div class="app-container">
	
	<div class="navigation">
		<navigation></navigation>
	</div>

	<div class="
		router-outlet 
		mod__overflow--hidden-xl
		mod__overflow--hidden-l 
		mod__overflow--auto-m
		mod__overflow--auto-s
		mod__overflow--auto-xs">
		<router-outlet></router-outlet>
	</div> 
</div>

<login [(visible)]="loginToggle"></login>

