@import './styles/variables.scss';

.app-container { 
	display: grid;
	height: 100vh;
	width: 100vw;
}

.router-outlet {
	-webkit-transition: width 600ms ease;
	transition: width 600ms ease;
}

/* Large screens */
@media only screen and (min-width: $tablet) {
	.app-container {
		grid-template-columns: minmax(8rem, auto) repeat(11, 1fr);
		grid-template-rows: 1fr;

		.navigation {
			grid-column: 1 / 2;
			width: 8rem;
			-webkit-transition: width 600ms ease;
			transition: width 600ms ease;
		}

		.navigation:hover {
			width: 24rem;
		}

		.router-outlet {
			grid-column: 2 / 13;
		}
	}
}

/* Small screens */
@media only screen and (max-width: $tablet) {
	.app-container { 
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 8rem 1fr;

		.navigation {
			grid-column: 1/13;
			height: 8rem;
			box-shadow: 0 0 40px rgba(0,0,0,.1);
		}
		

		.router-outlet {
			grid-column: 1 / 13;
		}
	}
}