.commish-container {
	padding: 2rem 4.8rem 0;
	
    form {
        overflow: scroll;
        height: 85vh;

        &::-webkit-scrollbar {
            display: none;
        }
    
        &::-webkit-scrollbar-track {
            background: #eef5fb;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #56a0fb;
        }
    }
    
    .card {
        min-width: 25rem;
    }

    h2 {
        font-size: 2.4rem;
        // letter-spacing: .15rem;
    }

    .font-size {
        font-size: 1.6rem;
    }

    .start-fight-btn {
        border: 1px solid var(--box-shadow-border);
        display: block;
        border-radius: 0.4rem;
    }
}

@media only screen and (min-width: 630px) {
    .commish-container {
        h2 {
            font-size: 1.8rem;
            min-height: 6rem;
            padding-bottom: 5rem;
        }
    
        .font-size {
            font-size: 1.2rem;
        }
    }
}