<div class="
    commish-container
    container">
    <loading-modal [isLoading]="false"></loading-modal>
    <a [routerLink]="['/create-event']" >Create Event</a>
    <form class="container_column" novalidate (submit)="updateEvent()" [formGroup]="eventForm">
        <span class="container container--split container--wrap">
            <div class="
                card 
                container__column--flex
                mod__spacing--pam
                mod__spacing--mbb
                mod__spacing--mrm" 
                *ngFor="let match of event?.lineup | filter: 'decendingByIndex'; let i = index">
                <h2 class="
                    mod__text-align--c 
                    mod__spacing--mbb
                    container
                    container--split
                    mod__align--vert-center">
                    <span class="container__column--two-fifth">
                        {{ match.fight.fighter1.name }} 
                    </span>
                    <span class="container__column--flex">
                        vs
                    </span>
                    <span class="container__column--two-fifth">
                        {{ match.fight.fighter2.name }}
                    </span>
                </h2>

                <div class="container container--split mod__spacing--mbb">
                    <!-- Select Winner Input -->
                    <dropdown
                        class="container__column--flex font-size"
						[options]="[
							{
								display: '',
                                value: null
							},
                            {
                                display: match.fight.fighter1?.name,
                                value: match.fight.fighter1?.id
                            },
                            {
                                display: match.fight.fighter2?.name,
                                value: match.fight.fighter2?.id
                            },
                            { 
                                display: 'Draw', 
                                value: 'draw' 
                            },
                            { 
                                display: 'Cancelled', 
                                value: 'cancelled' 
                            }
                        ]"
                        [formGroupName]="'fight' + (i + 1)"
                        [controlName]="'winner'">
                    </dropdown>
    
                    <!-- Select Method Input -->
                    <dropdown
                        class="container__column--fifth mod__spacing--mhm font-size"
                        [options]="[
                            { display: '', value: null },
                            { display: 'Submission', value: 'submission' },
                            { display: 'TKO', value: 'tko' },
                            { display: 'Decision', value: 'decision' },
                            { display: 'DQ', value: 'dq' }
                        ]"
                        [formGroupName]="'fight' + (i + 1)"
                        [controlName]="'method'">
                    </dropdown>
    
                    <!-- Select Round Input -->
                    <dropdown
                        class="container__column--fifth font-size"
                        [options]="
                            match.fight.rounds === 5 ? [
                                { display: '', value: null },
                                { display: '1st', value: '1' },
                                { display: '2nd', value: '2' },
                                { display: '3rd', value: '3' },
                                { display: '4th', value: '4' },
                                { display: '5th', value: '5' }
                            ] : [
                                { display: '', value: null },
                                { display: '1st', value: '1' },
                                { display: '2nd', value: '2' },
                                { display: '3rd', value: '3' }
                            ]
                        "
                        [formGroupName]="'fight' + (i + 1)"
                        [controlName]="'rounds'">
                    </dropdown>
                </div>

                <!-- Fight Started Input -->
                <span class="start-fight-btn">
                    <checkbox
                        class="font-size"
                        [items]="[
                            { display: 'Start Fight', value: true },
                            { display: 'Pause Fight', value: false }
                        ]"
                        [prepopProperty]="'started'"
                        [formGroupName]="'fight' + (i + 1)"
                        [controlName]="'started'">
                    </checkbox>
                </span>
            </div>
        </span>

        <button 
            [disabled]="eventForm.invalid || !eventForm.dirty"
            [ngClass]="{'invalid': eventForm.invalid || !eventForm.dirty }"
            type="submit" 
            class="
                primary 
                mod__spacing--phb 
                mod__spacing--pvm
                mod__width--100-s
                mod__width--100-xs">
            Update
        </button>
    </form>
</div>

<loading-modal [text]="popupText" [isLoading]="isUpdating"></loading-modal>