<fieldset [formGroup]="controlContainer.control">
    <select [formControlName]="controlName">
        <ng-container  *ngFor="let option of options">
            <option [value]="option.value" *ngIf="option?.hide ? false : true">{{ option.display }}</option>
        </ng-container>
    </select>
</fieldset>