select {
    width: 100%;
    height: 35px;
    font-size: inherit;
    box-shadow: var(--box-shadow-primary);
    background: var( --box-shadow-bg);
    border: 1px solid var(--box-shadow-border);
    color: var(--text-primary);
    -moz-appearance: none;
    -webkit-appearance: none;
    outline:none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--text-primary);
}

fieldset {
    padding: 0;
    margin: 0;
}