<div class="mu container">
    <div class="
        container__column
        container
        container--split">
        <div class="container__column--three-fourths">
            <form class="
                mod__width--50 
                float__right
                mod__spacing--mrm" 
                (change)="changeMatchUp()" 
                [formGroup]="selectedMatchUpFg"
                novalidate>
                <dropdown [options]="matchUpsList" [controlName]="'selectedMatchUp'"></dropdown>
            </form>
        </div>
        <div class="mu-week container__column--fourth">
            <form class="
                mod__width--100
                float__right" 
                (change)="changeWeeks()" 
                [formGroup]="selectedEventsFg" 
                novalidate>
                <dropdown [options]="numberOfEvents" [controlName]="'selectedEvents'"></dropdown>
            </form>
        </div>
    </div>

    <div class="container__column">
        <h3 class="mod__width--25 
            mod__font-weight--400
            mod__text-align--l
            mod__spacing--mtb
            mod__spacing--mlm">
            Scoreboard
        </h3>
    </div>

    <div class="container__column
        mu-box-score
        container
        container--split">
        <div class="container__column--half">
            <h2 class="team-name">
                {{ team1Name }}
            </h2>

            <h4 class="score">
                {{ team1?.totalPoints | number:0 }} PTS
            </h4>

            <ul>
                <li class="details-pick
                    container 
                    container--split-xl 
                    container--split-l" 
                    *ngFor="let pick of team1?.picks; let i = index" 
                    [ngClass]="{
                        'right': event?.lineup[i]?.winner && pick.winner === event?.lineup[i]?.winner,
                        'wrong': event?.lineup[i]?.winner && pick.winner != event?.lineup[i]?.winner,
                        'blur':  (
                            !event?.lineup[i]?.winner && 
                            selectedTeam?.picks[selectedWeek - 1]?.opponent != team1.opponent &&
                            !event?.lineup[i]?.started 
                        )
                    }">

                    <div class="bonus left">
                        <span *ngFor="let bonus of pick.bonuses">
                            +{{ bonus.amount }}
                        </span>
                    </div>

                    <h4 class="pick-winner
                        container__column--two-fifth-xl
                        container__column--two-fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs">
                        {{ pick.name }}
                    </h4>

                    <div class="container__column--two-fifth-xl
                        container__column--two-fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs
                        container
                        container--split">
                        <span class="method container__column--half">{{ pick.method?.substr(0,3) }}</span>
                        <span class="round container__column--half">{{ pick.round }}</span>
                    </div>

                    <span class="score 
                        container__column--fifth-xl
                        container__column--fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs">
                        {{ pick.matchPoint }} / {{ pick.potentialScore }}
                    </span>
                </li>
            </ul>
        </div>
        <div class="container__column--half">
            <h2 class="team-name">
                {{ team2Name }}
            </h2>

            <h4 class="score">
                {{ team2?.totalPoints | number:0 }} PTS
            </h4>

            <ul>
                <li class="details-pick
                    container 
                    container--split-xl 
                    container--split-l" 
                    *ngFor="let pick of team2?.picks; let i = index"
                    [ngClass]="{
                        'right': event?.lineup[i]?.winner && pick.winner === event?.lineup[i]?.winner,
                        'wrong': event?.lineup[i]?.winner && pick.winner != event?.lineup[i]?.winner,
                        'blur': !event?.lineup[i]?.winner && !event?.lineup[i]?.started 
                    }">

                    <div class="bonus right">
                        <span *ngFor="let bonus of pick.bonuses">
                            +{{ bonus.amount }}
                        </span>
                    </div>

                    <h4 class="pick-winner
                        container__column--two-fifth-xl
                        container__column--two-fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs">{{ pick.name }}</h4>

                    <div class="container__column--two-fifth-xl
                        container__column--two-fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs
                        container
                        container--split">
                        <span class="method container__column--half">
                            {{ pick.method?.substr(0,3) }}
                        </span>
                        <span class="round container__column--half">
                            {{ pick.round }}
                        </span>
                    </div>

                    <span class="score 
                        container__column--fifth-xl
                        container__column--fifth-l
                        container__column-m
                        container__column-s
                        container__column-xs">
                        {{ pick.matchPoint }} / {{ pick.potentialScore }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<loading-modal [text]="'Loading...'" [isLoading]="isLoading"></loading-modal>
