@import '../../styles/variables.scss';

.mu {
	height: 100%;
	text-align: center;
	overflow: scroll;
	scrollbar-color: #56a0fb #eef5fb;
	scrollbar-width: none;
	padding: 2rem 4.8rem 0;

	&::-webkit-scrollbar {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background: #eef5fb;
	}

	&::-webkit-scrollbar-thumb {
		background: #56a0fb;
	}

	h3 {
		font-size: 2rem;
	}
}

.mu-box-score {
	padding: 1rem 0 0;
	border-top: 1.5px solid #e7e7e7;
	margin: 2rem 0 auto;

	h2,
	h4 {
		font-size: 1.8rem;
		min-height: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h4.score {
		margin: auto auto 1rem;
	}

	h2.team-name {
		font-size: 2rem;
		min-height: 4rem;
		color: var(--text-primary);
	}

	ul {
		width: 90%;
		margin: auto;
	}
	
	.details-pick {
		background: var(--box-shadow-bg);
		box-shadow: var(--box-shadow-primary);
		border: 1px solid var(--box-shadow-border);
		border-radius: 1rem;
		margin: auto auto 2rem;
		padding: 1rem 0 0;
		position: relative;
		
		&:before {
			content: "";
			width: 100%;
			height: 0.5rem;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			background: var(--text-inactive);
			top: 0;
			left: 0;
			position: absolute;
			z-index: 1;
		}

		h4 {
			height: 3rem;
			font-size: 1.4rem;
			text-transform: capitalize;
			padding: 0 .5rem;
			color: var(--text-primary);
		}

		.method,
		.round {
			text-transform: uppercase;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
		}

		.score {
			font-size: 1.4rem;
			display: flex;
			align-items: center;
		}

		h4,
		span {
			justify-content: center;
			font-weight: 400;
			margin: 0 auto .5rem;
		}

		.bonus {
			position: absolute;
			top: 1.6rem;

			span {
				color: var(--text-highlight);
				font-weight: 600;
				font-size: 1.2rem;
				display: block;
			}
		}

		.bonus.right {
			right: -1rem;
		}

		.bonus.left {
			left: -1.5rem;
		}
	}

	.details-pick.wrong:before {
		background: var(--text-highlight);
	}

	.details-pick.right:before {
		background: var(--text-primary);
	}

	.details-pick.blur:after{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--bg-primary-body);
		position: absolute;
		height: 100%;
		border-radius: 1rem;
		content: 'Fight Pending';
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--text-primary);
		font-size: 1.6rem;
		font-weight: 400;
	}
}

@media only screen and (min-width: 525px) {
	h4.pick-winner {
		height: 6rem;
		font-size: 2rem;
	}

	.method, 
	.round {
		font-size: 1.6rem;
	}

	.score {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: $tablet) {
	h4.pick-winner {
		height: 100%;
		font-size: 1.6rem;
		padding: 0 2rem;
	}

	.method, 
	.round {
		font-size: 1.4rem;
	}

	.score {
		font-size: 1.4rem;
	}

	.bonus {
		span {
			font-size: 1.4rem;
		}
	}

	h3{
		font-size: 2.4rem;
	} 
}
