@keyframes click-wave {
    0% {
        height: 24px;
        width: 24px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 48px;
        width: 48px;
        margin-left: -14px;
        margin-top: -14px;
        opacity: 0;
    }
}

.option-input {
	visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 9px;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: var(--text-primary);
}

.option-input:checked::before {
    height: 24px;
    width: 24px;
    position: absolute;
    content: "✔";
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--text-primary);
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

label {
    cursor: pointer;

    span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

div.checkbox {
    color: black;
    -webkit-appearance: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.62px;
    line-height: normal;
    margin: 0;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    white-space: normal;
    min-width: 5rem;
    height: 45px;
    padding: 0px;
    position: relative;
    
    fieldset {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
    }
}

div.checkbox:hover {
	background: var(--depressed-bg);
}

div.checkbox.selected {
	box-shadow: var(--box-shadow-inset-sm);
	border: var(--box-shadow-border);
    filter: grayscale(0) opacity(1);
    color: var(--text-primary);
}


