<div class="
    container 
    container--split 
    container--wrap" 
    [formGroup]="originalFormGroup">
    <div class="checkbox container__column--flex" *ngFor="let item of items; let i = index" [ngClass]="{'selected': originalFormGroup.value[prepopProperty] === item.value}">
        <fieldset [disabled]="disabled">
            <label>
                <span>{{ item.display }}</span>
                <input type="radio" class="option-input checkbox" [formControlName]="controlName" [value]="item.value"/>
            </label>
        </fieldset>
    </div>
</div>