<div class="edit-fighter-cont">
    <div class="menu">
        <div class="sub-cont">
            <div class="nav">
                <h2 class="team-name">Edit Fighter</h2>  
                <h2 class="league" [routerLink]="['/league-home']">League</h2>
                <h2 class="match-up" [routerLink]="['/match-up']">Match Up</h2>
            </div>
        </div>
    </div>

    <div class="edit-fighter-sub-cont">
        <form class="edit-form" novalidate (submit)="editFighter()" [formGroup]="fighterForm" *ngIf="fighters?.length">
            <div class="id">
                <h4>Select a fighter: </h4>
                <select formControlName="id" (change)="selectFighter()">
                    <option [value]="i" *ngFor="let fighter of fighters; index as i">
                        {{fighter.name}} - {{fighter.nickname}}
                    </option>
                </select>
            </div>
            <ng-container *ngIf="!fighterForm.get('id').invalid">
                <div class="new-fight" formArrayName="fights" *ngFor="let fight of fighterForm?.get('fights').controls; index as i;">
                    <div class="new-fight-inputs" [formGroupName]="i">
                        <select class="opponent" formControlName="opponent">
                            <option value="null">Please select opponent</option>
                            <option [value]="fighter.name" *ngFor="let fighter of fighters">{{ fighter.name }}</option>
                        </select>

                        <input class="date" type="text" formControlName="date" placeholder="Jan / 18 / 2020">

                        <select class="result"  formControlName="result">
                            <option value="null">Please select outcome</option>
                            <option [value]="'win'">Win</option>
                            <option [value]="'loss'">Loss</option>
                        </select>

                        <select class="method"  formControlName="method">
                            <option value="null">Please select method</option>
                            <option [value]="'tko'">TKO</option>
                            <option [value]="'submission'">Submission</option>
                            <option [value]="'decision'">Decision</option>
                        </select>

                        <select class="round"  formControlName="round">
                            <option value="null">Please select round</option>
                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                        </select>

                        <input class="time" type="text" formControlName="time" placeholder="Please enter time of stoppage">
                        
                        <input class="name" type="text" formControlName="name" placeholder="Please enter event name.">

                        <input class="referee" type="text" formControlName="referee" placeholder="Please enter referee">
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="primary">Add Fight</button>
                </div>
            </ng-container>
        </form>
    </div>
    <div class="current-fight-list" *ngIf="selectedFighter">
        <ul>
            <li *ngFor="let fight of fighters[selectedFighter].fights">
                {{fight.date}}
                {{fight.result}}
                {{fight.method}}
                {{fight.round}}
                {{fight.opponent}}
                {{fight.name}}
                {{fight.time}}
                {{fight.referee}}
            </li>
        </ul>
    </div>
</div>