.edit-fighter-cont {
    position: absolute;
    top: 60px;
    padding: 0 15px;
    width: 100%;

    select {
        height: 50px;
        font-size: 20px;
        width: 350px;
    }
}

.edit-fighter-sub-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 100px;
    grid-template-areas: 
        'edit-form'
        'current-fight-list';

    .edit-form {
        grid-area: edit-form;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75px 200px 75px;
        grid-template-areas: 
            "id"
            "new-fight"
            "button";

        .id {
            grid-area: id;
        }

        .new-fight {
            grid-area: new-fight;
        }

        .button {
            grid-area: button;
        }
    }

    .current-fight-list {
        grid-area: current-fight-list;
    }
}

.id {
    text-align: center;

    h4 {
        display: inline-block;
        font-family: 'Exo 2', sans-serif;
        // font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 0;
        margin: 0 15px 0 0;
    }
}

.new-fight {
    .new-fight-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 70px 70px;
        grid-template-areas: 
            "opponent date ."
            "result method round"
            "time name referee";

        .opponent {
            grid-area: opponent;
        }

        .date {
            grid-area: date;
        }

        .result {
            grid-area: result;
        }

        .method {
            grid-area: method;
        }

        .round {
            grid-area: round;
        }

        .name {
            grid-area: name;
        }

        .time {
            grid-area: time;
        }

        .referee {
            grid-area: referee;
        }
    }
}