<div class="mobile-nav">
	<div class="hamburger">
		<img src="../../../assets/hamburger.svg" alt="mobile-menu" (click)="toggleMobileNav()" alt="mobile menu">
	</div>
	<div class="mobile-logo">
		<h1>Real Fantasy Sports</h1>
	</div>
</div>

<div 
	class="mobile-nav-overlay" 
	[ngClass]="{'mobile-nav-overlay-opened': mobileNavOpened }"
	(click)="toggleMobileNav()">
</div>

<nav class="navbar" [ngClass]="{'mobile-nav-opened': mobileNavOpened }">
	<ul class="navbar-nav">
		<li class="logo">
			<a [routerLink]="['/home-page']" 
				(click)="toggleMobileNav()"
				class="nav-link">
				<span class="link-text logo-text">R . F . S</span>
				<img class="svg logo-arrow" src="../../../assets/logo-arrow.svg" alt="secondary logo">
			</a>
		</li>

		<li class="nav-item" *ngIf="hideLeagueNav">
			<a [routerLink]="['/team-page']" 
				[routerLinkActive]="'selected'"
				(click)="toggleMobileNav()"
				class="nav-link">
				<img class="svg" src="../../../assets/glove.svg" alt="my team">
				<span class="link-text">
					Picks
				</span>
				<img class="chevron" [src]="'../../../assets/chevron-right.svg'"  alt="select my team">
			</a>
		</li>

		<li class="nav-item" *ngIf="hideLeagueNav">
			<a [routerLink]="['/match-up']" 
				[routerLinkActive]="'selected'"
				(click)="toggleMobileNav()"
				class="nav-link">
				<img class="svg match-icon" src="../../../assets/matchup1.svg" alt="match up">
				<span class="link-text">
					Match
				</span>
				<img class="chevron" [src]="'../../../assets/chevron-right.svg'" alt="select match up">
			</a>
		</li>

		<li class="nav-item" *ngIf="hideLeagueNav">
			<a [routerLink]="['/league-home']" 
				[routerLinkActive]="'selected'"
				(click)="toggleMobileNav()"
				class="nav-link">
				<img class="svg league-icon" src="../../../assets/shield1.svg" alt="league homepage">
				<span class="link-text">
					League
				</span>
				<img class="chevron" [src]="'../../../assets/chevron-right.svg'" alt="select league homepage">
			</a>
		</li>

		<li class="nav-item" *ngIf="hideLeagueNav && isCommissioner">
			<a [routerLink]="['/commish-tools']" 
				[routerLinkActive]="'selected'"
				(click)="toggleMobileNav()"
				class="nav-link">
				<img class="svg" src="../../../assets/whistle.svg" alt="rules page">
				<span class="link-text">
					Rules
				</span>
				<img class="chevron" [src]="'../../../assets/chevron-right.svg'" alt="select rules page">
			</a>
		</li>

		<li class="nav-item" id="themeButton">
			<a [routerLink]="['/user-settings']"  [routerLinkActive]="'selected'" class="nav-link">
				<img class="svg account-icon" src="../../../assets/account1.svg" alt="settings page">
				<span class="link-text">{{userInfo?.firstName + ' ' + userInfo?.lastName}}</span>
				<img class="chevron" [src]="'../../../assets/chevron-right.svg'" alt="select settings page">
			</a>
		</li>
	</ul>
</nav>


