@import '../../styles/variables.scss';

.mobile-nav {
	display: none;
}

.navbar {
	background: var(--box-shadow-bg);
	overflow: hidden;
}

.navbar-nav {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	width: 85%;

	&:last-child {
		margin-top: auto;
		margin-bottom: 2rem;
	}

	.selected {
		border-radius: 15px;
		background: #eef5fd;
		box-shadow: inset 6px 6px 9px #dde4eb, inset -6px -6px 9px #ffffff;
		border: 1px solid rgba(0,0,0,0.1);
		filter: grayscale(0%) opacity(1);
		background: var(--bg-secondary);
		position: relative;
	}

	.chevron {
		position: absolute;
		right: 0;
		opacity: 0;
		transition: opacity var(--transition-speed) ease;
	}
}

.nav-link {
	display: flex;
	align-items: center;
	height: 7rem;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
	color: var(--text-secondary);

	&:hover {
		filter: grayscale(0%) opacity(1);
		background: var(--bg-secondary);
	}

	svg {
		width: 3rem;
		min-width: 3rem;
		margin: 0 2.5rem;
		cursor: pointer;
	}

	.svg {
		width: 3.5rem;
		min-width: 3.5rem;
		margin: 0 1.5rem;
		cursor: pointer;
	}

	.match-icon {
		width: 3rem;
		min-width: 3rem;
		margin: 0 1.7rem;
	}
	
	.league-icon {
		width: 2.1rem;
		min-width: 2.1rem;
		margin: 0 2.2rem;
		cursor: pointer;
	}
	
	.account-icon {
		width: 3rem;
		min-width: 3rem;
		margin: 0 1.7rem;
	}

	.link-text {
		display: none;
		overflow: hidden;
		min-width: 11rem;
		width: 11rem;
		letter-spacing: 0.1rem;
	}
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2.4rem;
	letter-spacing: 0.3ch;
	width: 100%;
	
	.logo-arrow {
		transform: rotate(0deg);
		width: 2.5rem;
		min-width: 2.5rem;
		margin: 0 2.5rem;
		transition: var(--transition-speed);
	}

	.logo-text{
		display: inline;
		position: absolute;
		width: auto;
		left: -999px;
		transition: var(--transition-speed);
	}
}

/* Small screens */
@media only screen and (max-width: $tablet) {
	.mobile-nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 8rem;
		width: 100%;
		display: grid;
		grid-template-areas: 'hamburger mobile-logo .';
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
		box-shadow: 0 0 40px rgba(0,0,0,.1);
		z-index: 9;

		.hamburger {
			grid-area: hamburger;

			img {
				margin: 0 0 0 3.2rem;
				width: 36px;
				height: 36px;
				cursor: pointer;
			}
		}

		.mobile-logo {
			grid-area: mobile-logo;
			text-align: center;
		}
	}

	.navbar.mobile-nav-opened {
		max-width: 24rem;
	}

	.mobile-nav-overlay {
		background: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		transition: 600ms;
		z-index: -1;
		opacity: 0;
		cursor: pointer;
	}
	
	.mobile-nav-overlay-opened {
		z-index: 999;
		opacity: 1;
	}
	
	.navbar {
		position: fixed; 
		left: 0;
		top: 0;
		bottom: 0;
		max-width: 0;
		transition: 600ms;
		border: 1px solid var(--box-shadow-border);
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		border-right: 1px solid rgba(0,0,0,0.1);
		width: 24rem;
		z-index: 1000;
		
		.link-text {
			display: inline;
			font-size: 1.4rem;
			margin-left: 1.2rem;
		}

		.selected {
			.chevron {
				opacity: 1;
			}
		}

		.logo {
			.link-text {
				margin-left: 1.6rem;
			}
	
			.logo-arrow {
				margin-left: 19rem;
			}

			.logo-text {
				left: 1.2rem;
				font-size: 2.5rem;
				letter-spacing: 0.3rem;
				font-weight: 700;
				width: 135px;
				overflow: hidden;
			}
		}
	}

	.navbar-nav {
		.logo {
			.nav-link {
				filter: grayscale(0%) opacity(1);
			}

			.logo-arrow {
				transform: rotate(-180deg);
				filter: grayscale(0%) opacity(1);
			}
		}
	}
}

/* Large screens */
@media only screen and (min-width: $tablet) {
	.navbar {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 8rem;
		transition: width 600ms ease;
		border: 1px solid var(--box-shadow-border);
		box-shadow: var(--box-shadow-primary);
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		border-right: 1px solid rgba(0,0,0,0.1);

		&:hover {
			width: 24rem;

			.link-text {
				display: inline;
				font-size: 1.4rem;
				margin-left: 1.2rem;
			}
	
			.selected {
				.chevron {
					opacity: 1;
				}
			}

			.logo {
				.link-text {
					margin-left: 1.6rem;
				}
		
				.logo-arrow {
					margin-left: 19rem;
				}

				.logo-text {
					left: 1.2rem;
					font-size: 2.5rem;
					letter-spacing: 0.3rem;
					font-weight: 700;
				}
			}
		}
	}

	.navbar-nav:hover {
		.logo-arrow {
			transform: rotate(-180deg);
		}
	}
}
