@import 'app/styles/app.scss';
@import './app/styles/variables.scss';

:root {
	font-size: 10px;
	font-family: 'Exo 2', 'Open Sans', sans-serif;
	--text-primary: #56a0fb;
	--text-secondary: #000;
	--text-highlight: #c32626;
	--text-inactive: #dadada;
	--bg-primary-body: #eef5fb;
	--transition-speed: 600ms;
	--depressed-bg: #e3edf7;
	--box-shadow-primary: 6px 6px 12px #e0e6ec, -6px -6px 12px #fcffff;
	--box-shadow-bg: #eef5fb;
	--box-shadow-border: rgba(0,0,0,0.1);
	--box-shadow-inset: inset 5px 5px 10px #cfd5dc, inset -5px -5px 10px #ffffff;
	--box-shadow-inset-sm: inset 4px 4px 7px #dde4eb, inset -4px -4px 7px #ffffff;
} 

* {
	box-sizing: border-box;
}

body {
	color: var(--text-secondary);
	background-color: var(--bg-primary-body);
	margin: 0;
	padding: 0;
	font-weight: 100;
	overflow: hidden;
}

*::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

*::-webkit-scrollbar-track {
	background: #eef5fb;
}

*::-webkit-scrollbar-thumb {
	background: #56a0fb;
}

* {
	scrollbar-color: #56a0fb #eef5fb;
	scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

fieldset {
	border: none;
}

button {
	outline: none;
}

*:focus {
	outline: none;
}

button.primary {
    -webkit-appearance: none;
    background-color: var(--text-primary);
	box-shadow: 
		5px 5px 10px rgba(216, 216, 216, 0.6), 
		-5px -5px 10px rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	opacity: 1;
}

.uppercase {
	text-transform: capitalize;
}

.ng-invalid {
	button {
		filter: grayscale(100%) opacity(0.3) !important;
		cursor: not-allowed !important;

	}
}

.invalid {
	filter: grayscale(100%) opacity(0.3) !important;
	cursor: not-allowed !important;
}

@media only screen and (max-width: $mobile) {
	*::-webkit-scrollbar {
		width: 0;
	}

	* {
		scrollbar-width: none;
	}
}