<div class="tp" *ngIf="event">
	<div class="
		container
		container--split-xl
		container--split-l
		container--split-m
		event-info">
		<div class="
			event-selection
			container__column
			container__column--seven-tenth-xl
			container__column--seven-tenth-l
			container__column--seven-tenth-m">
			<form novalidate (change)="changeWeeks()" [formGroup]="selectedEventsFg">
				<dropdown [options]="numberOfEvents"
					[controlName]="'selectedEvents'">
				</dropdown>
			</form>
		</div>
		<div class="
			container__column
			container__column--three-tenth-xl
			container__column--three-tenth-l
			container__column--three-tenth-m">
			<h3>{{ event?.eventTitle }}</h3>
			<h4>{{ event?.venue }}</h4>
			<h4>{{ event?.date }}</h4>
		</div>
	</div>

	<div class="container">
		<div class="
			container__column
			selections">
			<div class="selections-list">
				<div class="
					container 
					container--split-xl 
					container--split-l 
					container--split-m">
					<div class="
						container__column--nine-twentith-xl
						container__column--nine-twentith-l
						container__column--nine-twentith-m
						container__column">
						<h3>{{ team?.teamName }}</h3>
						<div class="
							team-info 
							container 
							container--split-xl 
							container--split-l">
							<span class="
								container__column--half
								container__column-m
								container__column-s
								container__column-xs">
								{{ team?.record?.wins }}
								<span class="record">W</span> - 
								{{ team?.record?.losses }}
								<span class="record">L</span> - 
								{{ team?.record?.ties }}
								<span class="record">D</span>
							</span>
							<span class="
								tot-pts 
								container__column--half 
								container__column-m 
								mod__spacing--mtm-m
								container__column-s
								container__column-xs
								mod__spacing--mtm-s
								mod__spacing--mtm-xs">
								{{ team?.totalPoints | number }} 
								<span>PTS</span>
							</span>
						</div>
					</div>
					<div class="
						vs
						container__column--one-tenth-xl
						container__column--one-tenth-l
						container__column--one-tenth-m
						container__column">
						<h3> 
							VS
						</h3>
					</div>
					<div class="
						container__column--nine-twentith-xl
						container__column--nine-twentith-l
						container__column--nine-twentith-m
						container__column">
						<h3 class="opponent">{{ opponentInfo?.teamName }}</h3>
						<div class="
							team-info 
							opponent
							container 
							container--split-xl 
							container--split-l">
							<span class="
								container__column--half 
								container__column-m
								container__column-s
								container__column-xs">
								{{ opponentInfo?.record.wins }}
								<span class="record">W</span> - 
								{{ opponentInfo?.record.losses }}
								<span class="record">L</span> - 
								{{ opponentInfo?.record.ties }}
								<span class="record">D</span>
							</span>
							<span class="
								tot-pts 
								container__column--half 
								container__column-m
								container__column-s
								container__column-xs 
								mod__spacing--mtm-m
								mod__spacing--mtm-s
								mod__spacing--mtm-xs">
								{{ opponentInfo?.totalPoints | number }} 
								<span>PTS</span>
							</span>
						</div>
					</div>
				</div>
				<div class="container mod__spacing--mbm">
					<div class="container__column">
						<h3 class="selections-header">Selections</h3>
						<ul class="
							container 
							container--split 
							container--wrap 
							mod__spacing--mvm">
							<ng-container *ngFor="let pick of team?.picks[selectedWeek - 1]?.picks; let i = index">
								<li 
									*ngIf="pick?.winner || pick?.round || pick?.method || pick?.confidence" 
									class="
									current-selections 
									container__column--flex
									container 
									container--split">
									<span 
										class="selection-name" 
										[ngClass]="{
											'container__column--three-fifth': !confidenceFlag, 
											'container__column--four-fifths': confidenceFlag
										}">
										{{ getSelectedFighterName(pick?.winner, i, pick?.confidence) }}
									</span> 
									<span class="container__column--sixth selection-method" *ngIf="confidenceFlag">{{ pick?.confidence }}</span> 
									<span class="container__column--sixth selection-method" *ngIf="!confidenceFlag">{{ pick?.method?.substring(0,3) }}</span> 
									<span class="container__column--sixth selection-round" *ngIf="!confidenceFlag">{{ pick?.round }} </span>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>
		
				<div class="
					container 
					container--split-xl 
					container--split-l 
					container--split-m">
					<div class="
						container__column--half-xl 
						container__column--half-l 
						container__column--half-m
						container__column-s
						container__column-xs
						potential-score
						container
						container__column-s">
						<div class="container__column">
							<span class="title">Score:</span>
							<span class="score">{{ team?.picks[selectedWeek - 1]?.totalPoints }}<span> / {{ potentialScore }}</span></span>
						</div>
					</div>
			
					<div class="
						container__column--half-xl 
						container__column--half-l 
						container__column--half-m
						container__column-s
						container__column-xs
						btn-container">
						<button
							(click)="setPicks()"
							[disabled]="!picks.dirty"
							class="primary mod__spacing--pvm"
							[ngClass]="{'invalid': !picks.dirty }"
							*ngIf="selectedWeek === team?.picks.length">
							Update Picks
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="
			container__column
			picks-form">
			<form novalidate (change)="preparePicks()" [formGroup]="picks">
				<!-- <div class="tott" [ngClass]="{'tott-open':compareFighterModal.open }">
					<img class="close" src="../../../assets/close.svg" (click)="compareFighters(compareFighterModal?.fighter1, compareFighterModal?.fighter2)">
					<div class="tott-header">
						<h1 >Tale Of The Tape</h1>
					</div>
					<div class="tott-fighter1">
						<fighter-history [fighter]="compareFighterModal?.fighter1"></fighter-history>
					</div>
					<div class="tott-fighter2">
						<fighter-history [fighter]="compareFighterModal?.fighter2"></fighter-history>
					</div>
				</div> -->
				<ul>
					<li class="fight" *ngFor="let match of event?.lineup; let i = index">
						<div class="fight-card">
							<span class="stats">{{ match.card }}</span>
						</div>
						<div class="fighter1">
							<span class="stats">
								{{ match.fight.fighter1?.wins?.total }}
								<span> - </span>
								{{ match.fight.fighter1?.losses.total }}
								<span> - </span>
								{{ match.fight.fighter1?.no_contests ? match.fight.fighter1?.no_contests : 0 }}
							</span>
							<h2>
								{{ match.fight.fighter1?.name }}
							</h2>
							<span class="nickname">
								"{{ match.fight.fighter1?.nickname ? match.fight.fighter1?.nickname : "No Nickname" }}"
							</span>
							
							<span class="bonus left">
								<ng-container *ngFor="let bonus of match.fight.bonus">
									<span class="bonus" *ngIf="bonus.recipient === match.fight.fighter1?.id">
										<h3>+ {{ bonus.amount }}</h3>
									</span>
								</ng-container>
							</span>
						</div>
			
						<div class="vs">
							<span class="bonus top">
								<ng-container *ngFor="let bonus of match.fight.bonus">
									<span class="bonus" *ngIf="bonus.recipient === 'both'">
										<h3>+ {{ bonus.amount }}</h3>
									</span>
								</ng-container>
							</span>
							<span>vs</span>
						</div>
			
						<div class="fighter2">
							<span class="stats">
								{{ match.fight.fighter2?.wins?.total }}
								<span> - </span>
								{{ match.fight.fighter2?.losses.total }}
								<span> - </span>
								{{ match.fight.fighter2?.no_contests ? match.fight.fighter2?.no_contests : 0 }}
							</span>
							<h2>
								{{ match.fight.fighter2?.name }}
							</h2>
							<span class="nickname">
								"{{ match.fight.fighter2?.nickname ? match.fight.fighter2?.nickname : "No Nickname" }}"
							</span>
			
							<span class="bonus right">
								<ng-container *ngFor="let bonus of match.fight.bonus">
									<span class="bonus" *ngIf="bonus.recipient === match.fight.fighter2?.id">
										<h3>+ {{ bonus.amount }}</h3>
									</span>
								</ng-container>
							</span>
						</div>
			
						<div class="inputs">
							<!-- Winner Selection -->
							<span class="inputs-checkboxes">
								<checkbox
									[items]="[
										{ display: match.fight.fighter1?.name, value: match.fight.fighter1?.id },
										{ display: 'Draw', value: 'draw' },
										{ display: match.fight.fighter2?.name, value: match.fight.fighter2?.id }
									]"
									[prepopProperty]="'winner'"
									[formGroupName]="'fight' + (i + 1)"
									[controlName]="'winner'"
									[disabled]="match.started">
								</checkbox>
							</span>

							<!-- Confidence Selection -->
							<span class="
								container
								container--split
								mod__spacing--mtm" 
								*ngIf="confidenceFlag">
								<div class="
									container__column--flex  
									container
									confidence-dropdown-cont">
									<dropdown
										class="container__column"
										[options]="confidenceArray"
										[formGroupName]="'fight' + (i + 1)"
										[controlName]="'confidence'"
										[disabled]="match.started"
										*ngIf="!picks.get('fight' + (i + 1)).value.confidence">
									</dropdown>
									<span class="container__column" *ngIf="picks.get('fight' + (i + 1)).value.confidence">
										{{ picks.get('fight' + (i + 1)).value.confidence }}
									</span>
								</div>
								<div class="
									container__column--sixth 
									confidence-clear-btn
									container">
									<span 
										class="container__column"
										*ngIf="picks.get('fight' + (i + 1)).value.confidence"
										(click)="clearConfidence(i)">
										<img class="close" src="../../../assets/close.svg" alt="close button">
									</span>
								</div>
							</span>
							
							<!-- Method Selection -->
							<span class="inputs-checkboxes" *ngIf="!confidenceFlag">
								<checkbox
									[items]="[
										{ display: 'Sub', value: 'submission' },
										{ display: 'TKO', value: 'tko' },
										{ display: 'Dec', value: 'decision' }
									]"
									[prepopProperty]="'method'"
									[formGroupName]="'fight' + (i + 1)"
									[controlName]="'method'"
									[disabled]="match.started">
								</checkbox>
							</span>	
			
							<!-- Rounds Selection -->
							<span class="inputs-checkboxes" *ngIf="!confidenceFlag">
								<checkbox
									[items]="
										match.fight.rounds === 5 ? [
											{ display: '1st', value: '1' },
											{ display: '2nd', value: '2' },
											{ display: '3rd', value: '3' },
											{ display: '4th', value: '4' },
											{ display: '5th', value: '5' }
										] : [
											{ display: '1st', value: '1' },
											{ display: '2nd', value: '2' },
											{ display: '3rd', value: '3' }
										]
									"
									[prepopProperty]="'rounds'"
									[formGroupName]="'fight' + (i + 1)"
									[controlName]="'rounds'"
									[disabled]="match.started">
								</checkbox>
							</span>
						</div>
						<div class="compare" (click)="compareFighters(match.fight.fighter1, match.fight.fighter2)">
							<!-- Tale Of The Tape -->
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>

<loading-modal [text]="'Loading...'" [isLoading]="isLoading"></loading-modal> 

