@import '../../styles/variables.scss';

.tp { 
	padding: 3.2rem 0 0;
	height: 100%;
	overflow: scroll;
	scrollbar-color: #56a0fb #eef5fb;
	scrollbar-width: none;
	padding: 2rem 4.8rem 0;

	&::-webkit-scrollbar {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background: #eef5fb;
	}

	&::-webkit-scrollbar-thumb {
		background: #56a0fb;
	}
}

.event-info {
	flex-grow: 1;
    flex-basis: 100%;
	position: relative;

	h3 {
		font-size: 2rem;
		color: var(--text-primary);
		font-weight: 500;
	}

	h4 {
		font-size: 1.6rem;
		margin: 0.5rem 0;
	}
}

.event-selection {
	position: absolute;
	right: 1.2rem;
	top: 0;

	form {
		display: inline-block;
		width: 10rem;
		margin: auto 0 auto auto;
		font-size: 1.2rem;
		scrollbar-color: #56a0fb #eef5fb;
		scrollbar-width: none;
	}
}

.picks-form {
	padding-top: 3.2rem;

	.confidence-dropdown-cont {
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
		border: 1px solid var(--box-shadow-border);
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		height: 35px;
		cursor: pointer;
	}

	.confidence-clear-btn {
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
		border: 1px solid var(--box-shadow-border);
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		height: 35px;
		cursor: pointer;

		&:hover {
			background: var(--box-shadow-border);
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
	}	
}

.selections {
	margin: 3.2rem 0 0;

	h3 {
		font-size: 1.6rem;
		margin: 0 auto 1.2rem;
		width: 100%;
		letter-spacing: 0.1rem;
		font-weight: 500;
		color: var(--text-primary);
	}

	.vs {
		h3 {
			color: black;
		}
	}

	.team-info {
		font-size: 1.4rem;
		margin: 0 auto 1rem;
		color: var(--text-primary);
		box-shadow: var(--box-shadow-inset);
		background: var(--depressed-bg);
		align-items: center;
		padding: 1rem 0.8rem;
		border-radius: 0.4rem;
		border-top: 1px solid var(--box-shadow-border);
		border-left: 1px solid var(--box-shadow-border);

		h4 {
			color: black;
			font-weight: 400;
			margin: 0 0 1rem;
		}

		h4,
		span {
			flex-grow: 1;
			flex-basis: 50%;
		}

		.record {
			font-size: 1rem;
			color: var(--text-secondary);
		}

		.tot-pts {
			text-align: right;
			color: var(--text-secondary);
		}
	}

	.selections-list {
		box-shadow: var(--box-shadow-inset);
		background: var(--depressed-bg);
		border-top: 1px solid var(--box-shadow-border);
		border-left: 1px solid var(--box-shadow-border);
		border-radius: 1rem;
		padding: 2rem;
		margin: 0 1.6rem;

		.vs {
			text-align: center;
			align-self: center;
		}

		ul {
			justify-content: center;

			li {
				padding: 0.5rem 0;
				font-size: 1.2rem;
			}

			li:nth-child(odd) {
				background: rgba(86, 160, 251, 0.4);
			}

			li:last-child {
				background: none;
			}

			li.current-selections {
				border-radius: 0.4rem;
				min-width: 250px;
				max-width: 350px;
				margin: 0.5rem;
				border: 1px solid var(--box-shadow-border);
				min-height: 40px;
				align-items: center;
				padding: 0 0 0 0.5rem;
			}
		}

		div.potential-score {
			color: var(--text-primary);
			font-size: 1.6rem;
			align-items: center;
			align-self: center;
		
			.title {
				color: var(--text-secondary);
				font-weight: 500;
				margin: 0 1rem 0 0;
			}
			
			.score {
				font-weight: 500;
		
				span {
					font-weight: 100;
					filter: grayscale(100%) opacity(0.5);
					color: var(--text-secondary);
				}
			}
		}

		.btn-container {
			text-align: right;
		}

		button {
			max-width: 225px;
			width: 100%;
			margin: 0 2rem 0 0;
			font-size: 1.6rem;
		}
	}

	.selection-method,
	.selection-round {
		text-align: center;
	}

	.selection-method,
	.selection-name {
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}
}

.fight {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	padding: 2rem 1rem 0;
	margin: 0 2rem 4rem;
	border-radius: 1rem;
	min-height: 20rem;
	border: 1px solid var(--box-shadow-border);
	background: var(--box-shadow-bg);
	box-shadow: var(--box-shadow-primary);
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-grow: 1;
	flex-basis: 30rem;

	.compare {
		align-items: center;
		display: flex;
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		font-weight: 500;
		transition: color 600ms ease;
		justify-content: center;
		flex-grow: 1;
		flex-basis: 100%;
		height: 4rem;

		&:hover {
			color: var(--text-primary);
			cursor: pointer;
		}
	}

	.fight-card {
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
		flex-grow: 1;
		flex-basis: 100%;
		height: 3rem;
	}

	.fighter1 {
		flex-grow: 1;
		flex-basis: 40%;
		height: 7rem;
	}

	.fighter2 {
		flex-grow: 1;
		flex-basis: 40%;
		height: 7rem;
	}

	.vs {
		align-self: center;
		font-size: 2rem;
		font-weight: 600;
		position: relative;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		flex-basis: 20%;
		height: 7rem;
	}

	.inputs {
		border-top: 1px dashed var(--box-shadow-border);
		padding-top: 1.5rem;
		margin-top: 3.5rem;
		flex-grow: 1;
		flex-basis: 100%;
	}
}

.fighter1,
.fighter2 {
    width: 100%;
	height: 10rem;
	position: relative;
	
	.stats {
		display: inline-block;
		width: 100%;
		padding: 0.2rem 0;
		font-size: 1.2rem;
		height: 1rem;
	}

	h2 {
		min-height: 4rem;
		color: var(--text-primary);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;
		width: 90%;
		margin: 0.5rem auto;
		font-weight: 500;
	}

	.nickname {
		font-style: italic;
		font-size: 1.1rem;
	}
}

.inputs {
	display: flex;
	flex-direction: column;

	.inputs-checkboxes {
		margin: 0.5rem 0;
	}
}

.bonus {
	position: absolute;
	color: var(--text-highlight);
	top: 0;
	font-size: 1.2rem;

	span {
		position: relative;
	}
	
	h3 {
		font-weight: bold;
	}
}

.left {
	left: -2.5rem;
	top: -2rem;
}

.right {
	right: -2rem;
	top: -2rem;
}

.top {
	top: -0.5rem;
    left: 0;
    right: 0;
	text-align: center;
}

@media only screen and (max-width: $tablet) {
	.picks-form {
		form {
			height: auto;
		}
	}

	.selections {
		// margin: 3.2rem 2rem 0;

		.selections-list {
			width: 86%;
			margin: auto;
		}

		h3 {
			font-size: 2.2rem;
			margin: 0 0 16px 0;
			width: 90%;
		}

		.team-info,
		.selections-list div.potential-score,
		.selections-list ul li {
			font-size: 1.8rem;
		}

		.team-info {
			margin: 0 0 16px 0;
			width: 90%;
		}

		.team-info.opponent {
			margin: 0 0 0 auto;
		}

		.selections-list {
			width: 100%;

			div.potential-score {
				margin: 2rem auto;
			}
		}
	}

	.fight {
		.fight-card {
			font-size: 1.6rem;
		}

		.inputs {
			font-size: 1.4rem;
		}
	}

	.fighter1 h2,
	.fighter2 h2 {
		margin: 0 auto;
	}
}

@media only screen and (max-width: $mobile) {
	.event-selection {
		position: initial;
		right: initial;
		top: initial;
	
		form {
			width: 100%;
			margin: 16px auto;
		}
	}

	.selections {
		.selections-list {
			ul li.current-selections {
				max-width: 100%;
			}

			div.potential-score {
				margin: 0 auto 32px;
				font-size: 2.2rem;
			}
		}

		.selections-header {
			margin-top: 16px;
		}

		.vs {
			h3 {
				margin: 24px auto;
			}
		}

		h3,
		h3.opponent {
			margin: 0 auto 16px;
		}

		.team-info,
		.team-info.opponent {
			margin: auto;
		}

		.btn-container {
			width: 90%;
			margin: 16px auto;

			button {
				max-width: 100%;
				font-size: 2rem;
			}
		}
	}
}

@media only screen and (max-width: $mobile) {
	.fight {
		margin: 0 auto 4rem;
	}
}
